<form action="">
  <a href=""><img src="" alt=""></a>
  <h2>Konto erstellen</h2>
  <p>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</p>
  <div>
    <label for=""></label>
    <input type="text" placeholder="Name und Nachname">
  </div>
  <div>
    <label for=""></label>
    <input type="email" placeholder="Name und Nachname">
  </div>
  <div>
    <label for=""></label>
    <input type="password" placeholder="Name und Nachname">
  </div>
  <div>
    <input type="checkbox">
    <p>Ich stimme der <a href="">Datenschutzerklärung</a> zu.</p>
  </div>
  <button>Weiter</button>
</form>