<form action="">
  <div class="header-wrapper">
    <a href="#" onclick="history.back(); return false;"><img src="../assets/icons/login/arrow_back_black.png" alt="arrow"></a>
    <h2>Konto erstellen</h2>
  </div>
  <p>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</p>
  <div class="input-wrapper">
    <div>
      <label for="name"></label>
      <img src="../assets/icons/login/person_grey.png" alt="name">
      <input type="text" placeholder="Name und Nachname" [(ngModel)]="username" name="username" required>
    </div>
    <div>
      <label for="email"></label>
      <img src="../assets/icons/login/mail_grey.png" alt="mail">
      <input type="email" placeholder="beispielname@email.com" [(ngModel)]="email" name="email" required>
    </div>
    <div>
      <label for="password"></label>
      <img src="../assets/icons/login/lock_grey.png" alt="lock">
      <input type="password" placeholder="Passwort" [(ngModel)]="pwd" name="pwd" required>
    </div>
  </div>
  <div class="privacy-wrapper">
    <input type="checkbox" [(ngModel)]="privacy" name="privacy" required>
    <p>Ich stimme der <a href="">Datenschutzerklärung</a> zu.</p>
  </div>
  <span *ngIf="">WRONG EMAIL OR PASSWORD</span>
  <div class="btn-wrapper">
    <button (click)="register()">Weiter</button>
  </div>
</form>