<form #regForm="ngForm">
  <div class="header-wrapper">
    <a href="#" onclick="history.back(); return false;"><img src="../assets/icons/login/arrow_back_black.png" alt="arrow"></a>
    <h2>Konto erstellen</h2>
  </div>
  <p>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</p>
  <div class="input-wrapper">
    <div>
      <label for="name"></label>
      <img src="../assets/icons/login/person_grey.png" alt="name">
      <input #username="ngModel" type="text" minlength="4" placeholder="Name und Nachname" [(ngModel)]="regData.username" name="username" pattern="^[A-Za-zÄÖÜäöüß]+\s+[A-Za-zÄÖÜäöüß]+$" required>
      <span *ngIf="username.invalid && (username.dirty || username.touched)">*Bitte schreiben Sie einen vollständigen Namen.</span>
    </div>
    <div>
      <label for="email"></label>
      <img src="../assets/icons/login/mail_grey.png" alt="mail">
      <input #email="ngModel" type="email" placeholder="beispielname@email.com" [(ngModel)]="regData.email" name="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" required>
      <span *ngIf="email.invalid && (email.dirty || email.touched)">*Diese E-Mail-Adresse ist leider ungültig.</span>
    </div>
    <div>
      <label for="password"></label>
      <img src="../assets/icons/login/lock_grey.png" alt="lock">
      <input #password="ngModel" type="password" minlength="6" placeholder="Passwort" [(ngModel)]="regData.password" name="pwd" required>
      <span *ngIf="password.invalid && (password.dirty || password.touched)">*Bitte geben Sie ein gültiges Passwort ein.</span>
    </div>
  </div>
  <div class="privacy-wrapper">
    <input #privacy="ngModel" type="checkbox" [(ngModel)]="regData.privacy" name="privacy" required>
    <p>Ich stimme der <a href="">Datenschutzerklärung</a> zu.</p>
    <span *ngIf="privacy.invalid && (privacy.dirty || privacy.touched)">*Bitte akzeptiere unsere Datenschutzerklärung.</span>
  </div>
  <span *ngIf="">WRONG EMAIL OR PASSWORD</span>
  <div class="btn-wrapper">
    <button (click)="confirm()" [ngClass]="{'disabled-button': regForm.invalid}" [disabled]="regForm.invalid">Weiter</button>
  </div>
</form>