@use './../../../mixins.scss' as *;

@include linkUserM;
@include inputForm;

form {
  max-width: 41rem;

  >.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include arrowBack;

    >h2 {
      margin: auto;
    }
  }

  >p {
    font-size: 1.2rem;
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 100%;

    >div {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      >img {
        position: absolute;
        top: 29%;
        left: 1rem;
      }

      >input {
        width: 100%;
      }

      >span {
        position: absolute;
        color: #ED1E79;
        top: 100%;
        left: 1rem;
      }
    }
  }

  >.privacy-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;

    >p {
      >a {
        padding: 0 0.2rem;
      }
    }

    >span {
      position: absolute;
      color: #ED1E79;
      top: 100%;
      left: 1rem;
    }
  }

  .btn-wrapper {
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 2rem;

    button {
      background-color: #444DF2;

      &:hover {
        background-color: #797EF3;
      }
    }

    button.disabled-button {
      background-color: #686868;
      cursor: not-allowed;
    }
  }
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;
  }

  span {
    cursor: pointer;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('./../../../assets/icons/login/checkbox_empty.png');
    background-size: cover;
    transition: background-image 0.3s ease;
  }

  input[type="checkbox"]:checked + span {
    background-image: url('./../../../assets/icons/login/checkbox_checked.png');
  }
}

@media(max-width: 700px) {
  span, a, button, input {
    font-size: .8rem;
  }

  form {
    >p {
      font-size: .8rem;
    }
    
    >span {
      font-size: .8rem;
    }
  }

  .input-wrapper {
    >div {
      >img {
        top: 27%;
        height: 1.5rem;
      }
    }
  }

  .privacy-wrapper {
    >p {
      font-size: .8rem;
    }
  }

}