<div class="view-profile">
    <div class="profile-header">
        <p>Profil</p>

        <div class="bounding-box" *ngIf="uiService.showViewProfilePopup" (click)="closeViewProfile()">
            <img src="assets/icons/close.svg">
        </div>
    </div>

    <div class="profile-img">
        <img src="assets/img/avatar.png">
    </div>

    <div class="name-editBtn-onlineStatus">
        <div class="name-editBtn">
            <p>Frederik Beck</p>
            <p (click)="editProfile()">Bearbeiten</p>
        </div>

        <div class="onlineStatus">
            <img src="assets/icons/statusOnline.png">
            <p>Aktiv</p>
        </div>
    </div>

    <div class="email-address-container">
        <img src="assets/icons/mail.png">

        <div class="address">
            <p>E-Mail-Adresse</p>
            <p>fred.beck&#64;email.com</p>
        </div>
    </div>
</div>