@import '../../../styles.scss';
@import '../../../mixins.scss';

main {
    padding: 2rem 1.875rem;
    background-color: white;
    border-radius: 1.875rem;
    @include dFlex($fd: column, $g: 1.563rem, $ai: flex-start, $jc: flex-start);
    min-height: 100%;
    height: 100%;
    max-width: 100%;
}

header {
    width: 100%;
    @include dFlex($jc: space-between);

    >div {
        @include dFlex($g: 0.938rem);
    }

    svg {
        @include dFlex();
        padding: 0.25rem;
        border-radius: 100%;
        cursor: pointer;
        transition: ease-in 0.15s;

        &:hover {
            background-color: $color-active-channel;
            scale: 1.1;
            transition: ease-in 0.15s;
        }

        &:hover path {
            fill: $color-purple-3;
        }
    }
}

.channels {
    width: 100%;
}

.head {
    cursor: pointer;
    @include dFlex($jc: flex-start, $g: 0.938rem);
    width: 100%;
    margin-bottom: 1.563rem;

    h3 {
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.705rem;
    }

    svg {
        transform: rotate(-90deg);
    }

    .headline {
        @include dFlex($g: 0.938rem);

        svg {
            transform: rotate(0);
        }
    }

    .plus-icon {
        margin-left: auto;
    }
}

.users {
    @include dFlex($fd: column, $g: 1.563rem, $ai: flex-start, $jc: flex-start);
    padding-left: 2.188rem;
    height: calc(100vh - 695px);
    overflow-y: auto;
}

.user-name {
    font-family: Nunito;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.534rem;
}

.user {
    width: fit-content;
    padding: 0.25rem 1.25rem;
    border-radius: 100vw;
    @include dFlex($jc: flex-start, $g: 0.5rem);
    cursor: pointer;
    transition: ease-in 0.15s;

    &:hover {
        background-color: $color-active-channel;
        transition: ease-in 0.15s;
    }
}

.profile-img {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 100%;
}

.img-wrapper {
    position: relative;
}

.state-icon {
    position: absolute;
    bottom: 0.4375rem;
    right: 0;
    height: 0.875rem;
    width: 0.875rem;
    border-radius: 100%;
    border: 0.125rem solid white;
}

.online-state {
    @extend .state-icon;
    background-color: $color-online-green;
}

.offline-state {
    @extend .state-icon;
    background-color: $color-offline-gray;
}

.add-channel {
    cursor: pointer;
    padding-left: 2.188rem;
    @include dFlex($g: 0.938rem, $jc: flex-start);
    transition: ease-in 0.15s;

    span {
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.534rem;
    }

    &:hover {
        span {
            color: $color-purple-3;
            transition: ease-in 0.15s;
        }

        svg {
            transform: scale(1.05);
            transition: ease-in 0.15s;

            path {
                fill: $color-purple-3;
                transition: ease-in 0.15s;
            }
        }
    }
}

.channel-list {
    padding-left: 2.188rem;
    @include dFlex($fd: column, $ai: flex-start);
}

.channel {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.534rem;
    padding: 0.25rem 1.25rem;
    border-radius: 100vw;
    margin-bottom: 1.563rem;
    cursor: pointer;
    transition: ease-in 0.15s;

    &:hover {
        background-color: $color-active-channel;
        transition: ease-in 0.15s;
    }
}

.chat-active {
    background-color: $color-active-channel;
    color: $color-purple-3;
}