<main>

    @if (uiService.showWorkspaceMenu) {
        <div @toggleWorkspace class="workspace-menu-wrapper">
            <app-workspace-menu></app-workspace-menu>

        </div>
    }


    @if (uiService.showChat) {
        <div class="chat-wrapper" @expandChat>
            <app-chat></app-chat>

        </div>
    }


    @if (uiService.showThread) {
        <div @toggleThread class="thread-wrapper">
            <app-thread></app-thread>

        </div>
    }

    



    @if (!observerService.isMobile) {
    <div class="workspace-btn-wrapper">
        <app-workspace-menu-button></app-workspace-menu-button>
    </div>
    }


    @if (uiService.showAddChannelPopup) {
    <app-add-channel-popup @fadeIn></app-add-channel-popup>
    <div (click)="uiService.toggleAddChannelPopup()" class="popup-background"></div>
    }
</main>