<main>
    
    <div class="workspace-wrapper">
        @if (uiService.showWorkspaceMenu) {
            <app-workspace-menu></app-workspace-menu>
        }
    </div>

    <div class="chat-wrapper">
        <app-chat></app-chat>
    </div>

    <div class="thread-wrapper">
        @if (uiService.showThread) {
            <app-thread></app-thread>
        }
    </div>
    
    
    <div class="workspace-btn-wrapper">
        <app-workspace-menu-button></app-workspace-menu-button>
    </div>

    @if (uiService.showAddChannelPopup) {
        <div class="popup-wrapper">
            <app-add-channel-popup></app-add-channel-popup>
        </div>
        <div (click)="uiService.toggleAddChannelPopup()" class="popup-background"></div>
    }
</main>



