@import '../../../mixins.scss';
@import '../../../styles.scss';

main{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1rem;
}

.workspace-wrapper{
    max-width: 25%;
    height: 100%;
    overflow-y: auto;
    @media(max-width: 839px) {
        width: 100%;
        max-width: 100%;
    }
}

.chat-wrapper{
    flex-grow: 2;
    height: 100%;
    overflow-y: auto;
}

.thread-wrapper{
    max-width: 35%;
    height: 100%;
    overflow-y: auto;
    @media(max-width: 839px) {
        width: 100%;
        max-width: 100%;
    }
}

.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eceefe80;
    z-index: 2;
}

.popup-wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}