@import '../../../mixins.scss';
@import '../../../styles.scss';

main {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1rem;
}

.workspace-menu-wrapper {
    width: 380px;
    flex-shrink: 0;

    @media(max-width: 1399px) {
        position: absolute;
        height: calc(100vh - 200px);
        z-index: 3;
        box-shadow: 6px 0 6px #0000002f;
        border-radius: 1.875rem;
    }

    @media(max-width: 999px) {
        width: 100%;
        max-width: 100%;
        height: unset;
        box-shadow: unset;
        border-radius: unset;
        position: static;
    }
}

.chat-wrapper {
    flex-grow: 2;
}

.thread-wrapper {
    width: 440px;
    flex-shrink: 0;

    @media(max-width: 999px) {
        width: 100%;
        max-width: 100%;
    }
}

.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eceefe80;
    z-index: 2;
}

app-add-channel-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}