@import '../../../styles.scss';
@import '../../../mixins.scss';

main {
    @include dFlex($fd: column, $g: 1.25rem, $ai: flex-start);
    width: 43.75rem;
    @media(max-width: 999px) {
        width: 100%;
    }
}

.title {
    width: 100%;
    @include dFlex($jc: space-between);

    h3 {
        font-family: Nunito;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 2.046rem;
        text-align: left;
    }
}

button {
    margin-left: auto;
}

.channel-name {
    color: $color-purple-3;
    cursor: default;
}

form {
    padding: 0;
    width: 100%;

    input {
        width: 100%;
    }
}

.input-wrapper {
    @include dFlex($jc: flex-start, $g: 1.25rem);
    cursor: pointer;
}

.channel {
    font-family: Nunito;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.534rem;
    cursor: pointer;
}

.checked {
    position: relative;
    margin-right: 1.25rem;

    .custom-check-border {
        z-index: 1;
        transform: translate(-0.25rem, -50%);
        position: absolute;
        left: 0;
        top: 50%;
        margin: 0;
        height: 1.25rem;
        width: 1.25rem;
        border-radius: 100%;
        border: 0.0625rem solid $color-purple-light;
        cursor: default;
    }

    .custom-check-inline {
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        position: absolute;
        margin: 0;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 100%;
        background-color: $color-purple-1;
        border: unset;
    }
}

.unchecked {
    position: relative;
    margin-right: 1.25rem;

    .custom-check-border {
        z-index: 1;
        transform: translate(-0.25rem, -50%);
        position: absolute;
        left: 0;
        top: 50%;
        margin: 0;
        height: 1.25rem;
        width: 1.25rem;
        border-radius: 100%;
        border: 0.0625rem solid $color-purple-light;
        cursor: pointer;

        &:hover {
            border: 0.0625rem solid $color-purple-2;
        }
    }
}

.search-input-wrapper {
    width: 100%;
    position: relative;
}

.users {
    position: absolute;
    top: 4rem;
    left: 0;
    @include dFlex($fd: column, $ai: flex-start, $g: 0.9375rem, $jc: flex-start);
    border: 0.0625rem solid $color-purple-light;
    border-radius: 0 1.25rem 1.25rem 1.25rem;
    padding: 1.25rem 1.5625rem;
    box-shadow: 0rem 0.125rem 0.625rem 0rem #00000014;
    z-index: 2;
    background-color: white;
    max-height: 18.75rem;
    overflow-y: auto;
}

.selected-users {
    @include dFlex($jc: flex-start, $ai: flex-start, $g: 0.25rem);
    flex-wrap: wrap;
    width: 100%;
}

.selected-user {
    width: fit-content;
    padding: 0.1875rem 1.25rem;
    border-radius: 100vw;
    @include dFlex($jc: flex-start, $g: 0.9375rem);
    cursor: pointer;
    background-color: $color-active-channel;

    span {
        font-family: Nunito;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.534rem;
        text-align: left;
    }
}

.remove-user-icon:hover {
    scale: 1.05;
    cursor: pointer;
    rect, path {
        fill: $color-purple-3;
    }
}

.user {
    width: fit-content;
    padding: 0.25rem 1.25rem;
    border-radius: 100vw;
    @include dFlex($jc: flex-start, $g: 0.9375rem);
    cursor: pointer;

    span {
        font-family: Nunito;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.534rem;
    }

    &:hover {
        background-color: $color-active-channel;
    }
}

.img-wrapper {
    position: relative;
}

.profile-img {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 100%;
    object-fit: cover;
}