.view-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 1.875rem 0rem 1.875rem 1.875rem;
  padding: 2.813rem 2.5rem 2.813rem 2.5rem;
  gap: 2.375rem;
  box-shadow: 0rem 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}

.profile-header {
  width: 26.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-weight: 700;
    font-size: 1.5rem;
  }

  .bounding-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    background-color: transparent;
    transition: ease-in-out 250ms;

    &:hover {
      cursor: pointer;
      background-color: #d9d9d9;
      transition: ease-in-out 250ms;

      img {
        filter: invert(48%) sepia(24%) saturate(3976%) hue-rotate(216deg)
          brightness(103%) contrast(90%);
        transition: ease-in-out 250ms;
      }
    }

    img {
      transition: ease-in-out 250ms;
    }
  }
}

.profile-img {
  width: 12.5rem;
  height: 12.5rem;

  img {
    width: 100%;
    cursor: default;
  }
}

.name-editBtn-onlineStatus {
  width: 26.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.938rem;

  .name-editBtn {
    height: 2.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    :first-child {
      font-weight: 700;
      font-size: 2rem;
    }

    :last-child {
      font-weight: 600;
      font-size: 1.125rem;
      color: #535af1;
      transition: ease-in-out 250ms;

      &:hover {
        cursor: pointer;
        transform: scale(1.025);
        transition: ease-in-out 250ms;
      }
    }
  }

  .onlineStatus {
    height: 1.688rem;
    display: flex;
    align-items: center;
    gap: 0.938rem;

    img {
      cursor: default;
    }

    p {
      font-weight: 400;
      font-size: 1.25rem;
      color: #92c83e;
    }
  }
}

.email-address-container {
  width: 26.25rem;
  display: flex;
  gap: 0.938rem;

  img {
    width: 1.563rem;
    height: 1.25rem;
    cursor: default;
    margin-top: 0.25rem;
  }

  .address {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    :first-child {
      font-weight: 700;
      font-size: 1.25rem;
      color: black;
    }

    :last-child {
      font-weight: 500;
      font-size: 1.125rem;
      color: #1381ff;
    }
  }
}