<form #mailForm="ngForm">
  <div class="header-wrapper">
    <a href="#" onclick="history.back(); return false;"><img src="../assets/icons/login/arrow_back_black.png" alt="arrow"></a>
    <h2>Passwort zurücksetzen</h2>
  </div>
  <p>Bitte geben Sie Ihre E-Mail-Adresse ein.</p>
  <div class="input-wrapper">
    <div>
      <label for="email"></label>
      <img src="../assets/icons/login/mail_grey.png" alt="mail">
      <input #mail="ngModel" type="email" placeholder="beispielname@email.com" [(ngModel)]="email" name="email" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required>
      <span *ngIf="mail.invalid && (mail.dirty || mail.touched)">*Diese E-Mail-Adresse ist leider ungültig.</span>
    </div>
  </div>
  <span>Wir senden Ihnen eine E-Mail, über die 
    Sie Ihr Passwort ändern können.</span>
  <div class="btn-wrapper">
    <button (click)="sendMail()" [ngClass]="{'disabled-button': mailForm.invalid}" [disabled]="mailForm.invalid">E-mail senden</button>
  </div>
</form>

<div class="confirmPopup" *ngIf="showPopup">
  <img src="./assets/icons/login/send.png" alt="send">
  <span>E-Mail gesendet</span> 
</div>
