<div class="send-message-container">
    <textarea [disabled]="disableInput" type="text" [(ngModel)]="content" [placeholder]="getPlaceholderText()"></textarea>

    <div class="icons">
        <div class="add-elements">
            <div class="bounding-box">
                <div>
                    <label [for]="setidforFileInput()" class="custom-file-upload">
                        <img src="assets/icons/channel-chat/plusIcon.svg" alt="Upload Icon">
                    </label>
                    <input class="file-upload" [id]="setidforFileInput()" type="file" (change)="onFilesSelected($event)"/>
                </div>
            </div>

            <hr>

            <div class="bounding-box">
                <img src="assets/icons/channel-chat/addReactionIcon.svg">
            </div>

            <div class="popup-wrapper">
                <div class="bounding-box" (click)="showTaggableUsers()">
                    <img src="assets/icons/channel-chat/tagPersonIcon.svg">
                </div>
                @if (uiService.showTaggableUsersPopup) {
                    <app-popup-taggable-users @fadeIn [currentRecipient]="currentRecipient"></app-popup-taggable-users>
                }
            </div>
        </div>
        
        <div class="preview-btn-wrapper">
            <div class="file-preview-container">
                <div *ngFor="let preview of filePreviews; let i = index">
                    <img *ngIf="preview.startsWith('data:image')" [src]="preview" alt="Bild-Vorschau" class="file-preview" />

                    <p *ngIf="selectedFiles[i].name.endsWith('.pdf')">{{ getFileName(selectedFiles[i].name) }}</p>

                    <p *ngIf="!preview.startsWith('data:image') && !selectedFiles[i].name.endsWith('.pdf')">{{ getFileName(selectedFiles[i].name) }}</p>
                </div>
            </div>
        </div>
        
        <img src="assets/icons/channel-chat/sendIcon.svg" [ngStyle]="{ cursor: isBtnDisabled() }" class="send-btn" (click)="saveNewMessage()" [class.disabled]="isBtnDisabled()" [attr.disabled]="isBtnDisabled() ? true : null">
    </div>
</div>

@if (uiService.showTaggableUsersPopup) {
    <div @fadeIn class="popup-background" (click)="showTaggableUsers()"></div>
}