<div class="send-message-container">
    <textarea type="text" [(ngModel)]="content" [placeholder]="getPlaceholderText()"></textarea>

    <div class="icons">
        <div class="add-elements">
            <div class="bounding-box">
                <img src="assets/icons/channel-chat/plusIcon.svg">
            </div>

            <hr>

            <div class="bounding-box">
                <img src="assets/icons/channel-chat/addReactionIcon.svg">
            </div>

            <div class="bounding-box">
                <img src="assets/icons/channel-chat/tagPersonIcon.svg">
            </div>
        </div>

        <img src="assets/icons/channel-chat/sendIcon.svg" class="send-btn" (click)="saveNewMessage()">
    </div>
</div>