@import "../../../../mixins.scss";
@import "../../../../styles.scss";

.picker-wrapper{
  position: absolute;
  bottom: 140px;
  @media(max-width: 999px) {
    left: 0;
  }
}

.send-message-container {
  position: relative;
  border: solid 0.063rem #adb0d9;
  border-radius: 1.25rem;
  padding: 1.25rem;
}

textarea {
  width: 100%;
  font-weight: 400;
  font-size: 1.125rem;
  color: #686868;
  border: none;
  outline: none;
  resize: none;
  &:disabled {
    background-color: white;
  }
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-elements {
  display: flex;
  align-items: center;
  gap: 0.313rem;

  hr {
    width: 0.063rem;
    height: 2.5rem;
  }
}

.bounding-box {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transition: all ease-in-out 250ms;

  &:hover {
    cursor: pointer;
    background-color: #eceefe;

    img {
      filter: invert(55%) sepia(95%) saturate(7471%) hue-rotate(236deg)
        brightness(98%) contrast(94%);
      transform: scale(1.05);
    }
  }
}

.send-btn:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: all ease-in-out 250ms;
}

.send-btn.disabled {
  filter: grayscale(100%);
  opacity: 0.6;
  pointer-events: none;
}

.taggableUsersPopup {
  width: 17.625rem;
  height: 11.313rem;
  background-color: white;
  border-radius: 1.875rem 0rem 1.875rem 1.875rem;
  display: flex;
  flex-direction: column;
  padding: 1.875rem;
  gap: 0.938rem;
  box-shadow: 0rem 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 0;
  top: 6.313rem;
  margin-right: 2rem;
}

.popup-wrapper {
  position: relative;
}

app-popup-taggable-users {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.file-upload {
  display: none;
}

.preview-btn-wrapper {
  display: flex;
  gap: 2rem;
}

.file-preview-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  overflow-x: auto;
  max-width: 14rem;
}

.file-preview {
  max-height: 36px;
  object-fit: cover;
}