.edit-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 1.875rem;
  padding: 2.5rem;
  gap: 2.813rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.edit-header {
  width: 26.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-weight: 700;
    font-size: 24px;
  }

  .bounding-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: transparent;
    transition: ease-in-out 250ms;

    &:hover {
      cursor: pointer;
      background-color: #d9d9d9;
      transition: ease-in-out 250ms;

      img {
        filter: invert(48%) sepia(24%) saturate(3976%) hue-rotate(216deg)
          brightness(103%) contrast(90%);
        transition: ease-in-out 250ms;
      }
    }

    img {
      transition: ease-in-out 250ms;
    }
  }
}

.profile-img {
  width: 12.5rem;
  height: 12.5rem;

  img {
    width: 100%;
    cursor: default;
  }
}

.edit-name-mail-container {
  width: 26.25rem;
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;

  .edit-name-mail {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.438rem;

    .icon-label {
      display: flex;
      align-items: center;
      gap: 1.25rem;

      img {
        cursor: default;
      }

      label {
        font-weight: 700;
        font-size: 1.25rem;
      }
    }

    input {
      cursor: text;
      background-color: white;
      border-radius: 1.875rem;
      border: solid 0.063rem #adb0d9;
      padding: 0.938rem 1.25rem 0.938rem 1.25rem;
      font-weight: 500;
      font-size: 1.125rem;
      color: #686868;
      transition: ease-in-out 125ms;

      &:hover {
        border: solid 0.063rem #444df2;
        transition: ease-in-out 125ms;
      }
    }
  }
}

.buttons-container {
  display: flex;
  gap: 2rem;
  margin-top: 2.813rem;

  input {
    border-radius: 3.125rem;
    padding: 0.75rem 1.563rem 0.75rem 1.563rem;
    font-weight: 700;
    font-size: 1.125rem;
    outline: none;
  }

  :first-child {
    background-color: white;
    border: solid 0.063rem #797ef3;
    color: #444df2;
  }

  :last-child {
    background-color: #444df2;
    color: #ffffff;

    &:hover {
      border: none;
    }
  }
}
