<div class="input-wrapper">
    <input (input)="search()" [(ngModel)]="searchInput" [ngClass]="showInWorkspaceMenu ? 'workspace-input' : ''"
        type="text" [placeholder]="placeholderText">

    @if (filteredUsers.length > 0 || filteredChannels.length > 0 || (filteredMessages | filterMessage).length > 0) {
        <div class="search-results">
            @if (filteredUsers.length > 0) {
                <div class="users">
                    <h3>Nutzer:</h3>

                    @for (user of filteredUsers; track $index) {
                        <div (click)="redirectToConversation(user.uid)" class="user result">
                            <img src="{{user.avatar}}" alt="">
                            <span>{{ user.username }}</span>
                        </div>
                    }
                </div>
            }

            @if (filteredChannels.length > 0) {
                <div class="channels">
                    <h3>Channels:</h3>

                    @for (channel of filteredChannels; track $index) {
                        <div (click)="redirectToChannel(channel)" class="channel result">
                            <img src="assets/icons/workspace-menu/workspace-3-circles.svg" alt="channel-image">
                            <span>{{ channel.name }}</span>
                        </div>
                    }
                </div>
            }

            @if ((filteredMessages | filterMessage).length > 0) {
                <div class="messages">
                    <h3>Nachrichten:</h3>

                    @for (message of filteredMessages | filterMessage; track $index) {
                        <div (click)="redirectToMessage(message)" class="message result">
                                <img src="{{ userService.getUserData(message.sender).avatar }}" alt="">
                                <div>
                                    <h4>{{ userService.getUserData(message.sender).username }}:</h4>
                                    <span>{{ message.content | truncateString: 15 }}</span>      
                                </div>
                        </div>
                    }
                </div>
            }
        </div>
    }
</div>