@import '../../../styles.scss';
@import '../../../mixins.scss';

.input-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

input {
  max-width: 61.813rem;
  width: 100%;
  height: 4.375rem;
  background-color: white;
  border: none;
  border-radius: 2.625rem;
  background-image: url("/assets/icons/search.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 1.5rem) center;
  background-size: 1.6rem;
  padding: 1.094rem 2.813rem;
  color: #686868;
  font-weight: 400;
  font-size: 1.5rem;

  &:hover {
    border: none;
    outline: .1rem solid #686868;
  }

  &:focus {
    border: none;
    outline: .1rem solid #444DF2;
  }

  @media(max-width: 999px) {
    padding: 0.5rem 1.5rem;
    font-size: 1.4rem;
    height: unset;
  }
}

.workspace-input {
  border: 1px solid $color-purple-light;
}

.search-results {
  position: absolute;
  background-color: white;
  z-index: 5;
  top: 54px;
  left: 0;
  padding: 1rem;
  box-shadow: 0rem 0.375rem 0.625rem 0rem #00000033;
  border-radius: 0 1.875rem 1.875rem 1.875rem;
  max-height: 400px;
  overflow-y: auto;
}

.result {
  padding: 0.5rem 1rem;
  border-radius: 100vw;
  cursor: pointer;
  @include dFlex($jc: flex-start, $g: 0.5rem);

  img {
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
  }

  &:hover {
    background-color: $color-active-channel;
  }
}
