<div class="verify-password">
    <div class="verify-password-header">
        <p>Bestätige dein Passwort</p>
    </div>

    <div class="profile-img">
        <img [src]="userService.getCurrentUsersAvatar()">
    </div>

    <form action="" class="verify-password-form" #verifyPasswordForm="ngForm">
        <div class="name-email-password">
            <div class="icon-label">
                <img src="assets/icons/account_circle.png">
                <label for="name">Vollständiger Name</label>
            </div>

            <input type="text" id="verifyName" name="name" #name="ngModel" [(ngModel)]="verifyPasswordData.name" value="" placeholder="Dein bisheriger Name" pattern="[A-Z][a-z]{1,} [A-Z][a-z]{1,}" required disabled>
            @if (name.invalid && (name.dirty || name.touched)) {
                <span>Bitte ein Vor- und Nachname eingeben</span>
            }
        </div>

        <div class="name-email-password" style="margin-top: 1rem">
            <div class="icon-label">
                <img src="assets/icons/mail.png">
                <label for="email">E-Mail-Adresse</label>
            </div>

            <input type="email" id="verifyEmail" name="email" #email="ngModel" [(ngModel)]="verifyPasswordData.email" value="" placeholder="Deine bisherige E-Mail-Adresse" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,}" required disabled>
            @if (email.invalid && (email.dirty || email.touched)) {
                <span>Bitte eine gültige E-Mail-Adresse eingeben</span>
            }
        </div>

        <div class="name-email-password" style="margin-top: 1rem">
            <div class="icon-label">
                <img src="assets/icons/lock.png" style="height: 1.625rem">
                <label for="password">Passwort</label>
            </div>

            <input type="password" id="verifyPassword" name="password" #password="ngModel" [(ngModel)]="verifyPasswordData.password" minlength="6" placeholder="Dein aktuelles Passwort" required>
            @if (password.invalid && (password.dirty || password.touched)) {
                <span>Bitte ein gültiges Passwort eingeben</span>
            }
        </div>

        <div class="buttons-container">
            <input type="reset" value="Abbrechen" (click)="closeVerifyPassword()">
            <input type="submit" value="Bestätigen" (click)="confirmPassword(verifyPasswordData.name, verifyPasswordData.email, verifyPasswordData.password)" [disabled]="!verifyPasswordForm.valid || verifyPasswordForm.submitted">
        </div>
    </form>
</div>