<div *ngIf="showStartScreen" class="startScreen" [class.animate-logo]="logoState === 'corner'" [class.fade-out]="startScreenFadeOut">
  <img src="assets/img/Logo.png" alt="LOGO">
</div>

<form #loginForm="ngForm">
  <h2>Anmeldung</h2>
  <p *ngIf="!loginFailed">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>
  <span *ngIf="loginFailed">Falsches Passwort oder E-Mail...Bitte noch einmal versuchen.</span>
  <div class="input-wrapper">
    <div>
      <label for="email"></label>
      <img src="assets/icons/login/mail_grey.png" alt="mail">
      <input #email="ngModel" type="email" placeholder="beispielname@email.com" [(ngModel)]="loginData.email" name="email" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required>
      <span *ngIf="email.invalid && (email.dirty || email.touched)">*Diese E-Mail-Adresse ist leider ungültig.</span>
    </div>
    
    <div>
      <label for="password"></label>
      <img src="assets/icons/login/lock_grey.png" alt="lock">
      <input (keydown)="onKeyDownEnter($event, loginForm)" #password="ngModel" type="password" minlength="6" placeholder="Passwort" [(ngModel)]="loginData.password" name="password" required>
      <span *ngIf="password.invalid && (password.dirty || password.touched)">*Bitte geben Sie ein gültiges Passwort ein.</span>
    </div>
    
  </div>
  <a [routerLink]="'/sendmail'">Passwort vergessen?</a>
  <div class="or-wrapper"> 
    <div></div>
    <span>ODER</span>
    <div></div>
  </div>
  <button (click)="googleLogin()">
    <img src="assets/icons/login/google.png" alt="google">
    <span>Anmelden mit Google</span>
  </button>

  <div class="btn-wrapper">
    <button (click)="login()" [ngClass]="{'disabled-button': loginForm.invalid}" [disabled]="loginForm.invalid">Anmelden</button>
    <button (click)="guestLogin()">Gäste-Login</button>
  </div>
 
</form>
