@use './../../../mixins.scss' as *;

@include linkUserM;

form {
  >p {
    font-size: 1.2rem;
  }

  >span {
    font-size: 1.2rem;
    color: #ED1E79;
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 100%;

    >div {
      position: relative;
      @include flexCenter;

      >img {
        position: absolute;
        top: 30%;
        left: 1rem;
      }

      >input {
        width: 110%;
      }

      >span {
        position: absolute;
        color: #ED1E79;
        top: 100%;
        left: 1rem;
      }
    }
  }

  .or-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;

    div {
      height: .18rem;
      width: 100%;
      background-color: #ECEEFE;
    }
  }

  >button {
    background-color: #ECEEFE;
    @include flexCenter;
    gap: 1.5rem;
    width: 100%;
    color: #444DF2;
    font-size: 1rem;
    font-weight: 400;
        
    &:hover {
      border: .1rem solid #444DF2;
      font-weight: 700;
    }
  }

  .btn-wrapper {
    display: flex;
    gap: 2rem;

    button:nth-child(1) {
      background-color: #444DF2;

      &:hover {
        background-color: #797EF3;
      }
    }

    button:nth-child(1).disabled-button {
      background-color: #686868;
      cursor: not-allowed;
    }

    button:nth-child(2) {
      border: .1rem solid #444DF2;
      color: #444DF2;
      background-color: white;

      &:hover {
        border: .1rem solid #535AF1;
        color: white;
        background-color: #535AF1;
      }
    }
  }
}