@use './../../../mixins.scss' as *;

@include linkUserM;
@include inputForm;

.startScreen {
  z-index: 900;
  position: fixed;
  background: linear-gradient(#ECEEFE ,#444DF2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;


  >img {
    position: absolute;
    height: 10rem;
    width: 10rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s ease-in-out;
  }

  &.animate-logo img {
    animation: moveLogo 1s 1s forwards;
  }
}

@keyframes moveLogo {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    top: -.7rem;
    left: max(-0.7rem, calc((100vw - 1920px) / 2 - 0.7rem));
    transform: translate(0, 0) scale(0.48);
  }
}

form {
  max-width: 41rem;

  >p {
    font-size: 1.2rem;
  }

  >span {
    font-size: 1.2rem;
    color: #ED1E79;
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 100%;

    >div {
      position: relative;
      @include flexCenter;

      >img {
        position: absolute;
        top: 29%;
        left: 1rem;
      }

      >input {
        width: 100%;
      }

      >span {
        position: absolute;
        color: #ED1E79;
        top: 100%;
        left: 1rem;
      }
    }
  }

  .or-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;

    div {
      height: .18rem;
      width: 100%;
      background-color: #ECEEFE;
    }
  }

  >button {
    background-color: #ECEEFE;
    @include flexCenter;
    gap: 1.5rem;
    width: 100%;
    color: #444DF2;
    font-size: 1rem;
    font-weight: 400;
    border: .1rem solid #ECEEFE;
        
    &:hover {
      border: .1rem solid #444DF2;
      font-weight: 700;
    }
  }

  .btn-wrapper {
    display: flex;
    gap: 2rem;

    button:nth-child(1) {
      background-color: #444DF2;

      &:hover {
        background-color: #797EF3;
      }
    }

    button:nth-child(1).disabled-button {
      background-color: #686868;
      cursor: not-allowed;
    }

    button:nth-child(2) {
      border: .1rem solid #444DF2;
      color: #444DF2;
      background-color: white;

      &:hover {
        border: .1rem solid #535AF1;
        color: white;
        background-color: #535AF1;
      }
    }
  }
}

@media(max-width: 700px) {
  span, a, button, input {
    font-size: .8rem;
  }

  form {
    >p {
      font-size: .8rem;
    }

    >span {
      font-size: .8rem;
    }
  }

  .input-wrapper {
    >div {
      >img {
        top: 27%;
        height: 1.5rem;
      }
    }
  }
}