<form action="">
  <h2>Anmeldung</h2>
  <p>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>
  <div class="input-wrapper">
    <div>
      <label for="email"></label>
      <img src="../assets/icons/login/mail_grey.png" alt="mail">
      <input type="email" placeholder="beispielname@email.com" [(ngModel)]="email" name="email">
    </div>
    <div>
      <label for="password"></label>
      <img src="../assets/icons/login/lock_grey.png" alt="lock">
      <input type="password" placeholder="Passwort" [(ngModel)]="pwd" name="password">
    </div>
  </div>
  <a href="">Passwort vergessen?</a>
  <div class="or-wrapper">
    <div></div>
    <span>ODER</span>
    <div></div>
  </div>
  <button>
    <img src="../assets/icons/login/google.png" alt="google">
    <span>Anmelden mit Google</span>
  </button>
  <div class="btn-wrapper">
    <button (click)="login()">Anmelden</button>
    <button (click)="guestLogin()">Gäste-Login</button>
    <button (click)="authService.logout()">Test-Logout</button>
  </div>
  <span *ngIf="email.invalid || pwd.invalid">WRONG EMAIL OR PASSWORD</span>
</form>
