<form action="">
  <h2>Anmeldung</h2>
  <p>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>
  <div>
    <label for=""></label>
    <img src="" alt="">
    <input type="email" placeholder="beispielname@email.com">
  </div>
  <div>
    <label for=""></label>
    <img src="" alt="">
    <input type="password" placeholder="Passwort">
  </div>
  <a href="">Passwort vergessen?</a>
  <div class="or-wrapper">
    <div></div>
    <span>ODER</span>
    <div></div>
  </div>
  <button>
    <img src="" alt="">
    <span>Anmelden mit Google</span>
  </button>
  <div>
    <button>Anmelden</button>
    <button>Gäste-Login</button>
  </div>
</form>
