@import '../../../mixins.scss';
@import '../../../styles.scss';

main {
    background-color: white;
    box-shadow: 0rem 0.375rem 0.625rem 0rem #00000033;
    border-radius: 1.875rem;
    padding: 2.5rem;
    @include dFlex($fd: column, $ai: flex-start, $jc: flex-start, $g: 1.25rem);
    width: 100%;
    @media(max-width: 999px) {
        height: 100%;
        border-radius: 0;
        box-shadow: unset;
    }
}

.title {
    width: 100%;
    @include dFlex($jc: space-between);

    h3 {
        font-family: Nunito;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 2.046rem;
        text-align: left;
    }
}

.input-wrapper {
    position: relative;
    width: 100%;

    img {
        cursor: default;
    }

    input {
        padding-left: 3rem;
    }
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 1.125rem;
    transform: translateY(-50%);
}

.form-wrapper {
    width: 100%;

    form {
        @include dFlex($fd: column, $ai: flex-start, $jc: flex-start, $g: 1.25rem);
        width: 100%;
        padding: 0;

        input {
            width: 100%;
        }

        button {
            margin-left: auto;
        }

        label {
            font-family: Nunito;
            font-size: 1.125rem;
            font-weight: 700;
            line-height: 1.534rem;

            span {
                font-family: Nunito;
                font-size: 1.125rem;
                font-weight: 400;
                line-height: 1.534rem;
            }
        }
    }
}

app-add-channel-popup-2{
    @media(max-width: 999px) {
        width: 100%;
    }
}