@import '../../../styles.scss';
@import '../../../mixins.scss';

.thread-wrapper {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 1.875rem;
    @include dFlex($fd: column, $g: 1rem, $ai: flex-start);
}

.input-wrapper {
    width: 100%;
    padding: 2rem 2.5rem;
}

.message-wrapper {
    width: 100%;
}

app-single-message {
    width: 100%;
}

app-send-message {
    height: 182px;
    width: 100%;
    padding: 1rem 2.188rem 2.5rem 2.188rem;
}

.date-divider {
    margin-top: auto;
    @include dFlex();
    padding: 0 2.188rem;

    .messages-date {
        padding: 0.313rem 0.938rem;
        border: 1px solid $color-purple-light;
        border-radius: 100vw;
        width: fit-content;
        font-family: Nunito;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.534rem;
        color: black;
    }

    .line-wrapper {
        flex-grow: 2;
        @include dFlex();

        .line {
            border: unset;
            height: 1px;
            width: 100%;
            background-color: $color-purple-light;
        }
    }
}

.answer-counter {
    @include dFlex($jc: flex-start, $g: 20px);
    width: 100%;
    padding: 0 2.188rem;

    span {
        font-family: Nunito;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.534375rem;
        text-align: left;
        color: $color-purple-light;
    }

    .line-wrapper {
        flex-grow: 2;

        .counter-line {
            height: 1px;
            border: unset;
            background-color: $color-purple-light;
            width: 100%;
        }
    }
}

.messages {
    padding: 2rem 0;
    width: 100%;
    height: calc(100% - 282.5px);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-y: auto;
}

header {
    width: 100%;
    @include dFlex($jc: space-between);
    box-shadow: 0px 2px 10px 0px #00000014;
    padding: 1.5625rem 2.188rem;
    border-radius: 1.875rem 1.875rem 0 0;

    >div {
        @include dFlex($g: 0.313rem);
        flex-wrap: wrap;
    }
}