@import '../../../styles.scss';
@import '../../../mixins.scss';

.thread-wrapper{
    //height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 1.875rem;
    @include dFlex($fd: column, $g: 1rem, $jc: flex-end, $ai: flex-start);
}

.input-wrapper{
    width: 100%;
    padding: 2rem 2.5rem;
}

.message-wrapper {
    width: 100%;
}

app-single-message{
    width: 100%;
}

.messages{
    @include dFlex($fd: column, $jc: flex-end, $ai: flex-start, $g: 1rem);
    flex-grow: 2;
    padding: 2rem 2.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: auto;
}

header{
    width: 100%;
    @include dFlex($jc: space-between);
    box-shadow: 0px 2px 10px 0px #00000014;
    padding: 2rem 2.5rem;
    >div{
        @include dFlex($g: 0.313rem);
        flex-wrap: wrap;
    }
}