<a href="">
    <img src="assets/img/smallLogo.png" class="small-logo">
</a>

<input type="text" placeholder="Code learning durchsuchen">

<div class="profile-menu" (click)="togglePopup()">
    <span class="user-name">Frederik Beck</span>

    <div class="avatar-container">
        <img src="assets/img/avatar.png" class="avatar-img">
        <img src="assets/icons/statusOnline.png" class="online-status">
    </div>

    <img src="assets/icons/arrowDown.svg" class="arrow-down">
</div>

<div *ngIf="isActive" class="popup-overlay" (click)="togglePopup()">
    <app-edit-user-and-logout-popup (click)="$event.stopPropagation()"></app-edit-user-and-logout-popup>
</div>




<app-edit-profile></app-edit-profile>