@import '../../../styles.scss';
@import '../../../mixins.scss';

main {
    box-shadow: 4px 4px 7px 0px #00000033;
    background-color: white;
    position: absolute;
    bottom: 12%;
    left: 0;
    cursor: pointer;
    border-radius: 0 30px 30px 0;
    padding: 23px 14px;
    @include dFlex($fd: column, $g: 10px);
    

    h3 {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        font-family: Nunito;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.5;
        text-align: left;
        transition-duration: 125ms;
    }

    &:hover h3 {
        color: blue;
        transform: scale(1.05) rotate(180deg);
    }

    &:hover svg {
        path,
        rect {
            stroke: blue;
        }
    }

}