@import '../../../styles.scss';
@import '../../../mixins.scss';

main {
    z-index: 4;
    box-shadow: 0.25rem 0.25rem 0.4375rem 0rem #00000033;
    background-color: white;
    cursor: pointer;
    border-radius: 0 1.875rem 1.875rem 0;
    padding: 1.4375rem 0.875rem;
    @include dFlex($fd: column, $g: 0.625rem);

    h3 {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        font-family: Nunito;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.5;
        text-align: left;
        transition-duration: 0.125s;
    }

    &:hover h3 {
        color: blue;
        transform: scale(1.05) rotate(180deg);
    }

    &:hover svg {
        path,
        rect {
            stroke: blue;
        }
    }
}