<form #resetPwdForm="ngForm">
  <div class="header-wrapper">
    <img onclick="history.back(); return false;" src="assets/icons/login/arrow_back_black.png" alt="arrow">
    <h2>Passwort zurücksetzen</h2>
  </div>

  <div class="input-wrapper">
    <div>
      <label for="password"></label>
      <input #password1="ngModel" type="password" minlength="6" placeholder="Neues Passwort" [(ngModel)]="firstPassword" name="firstPassword" required>
      <span *ngIf="password1.invalid && (password1.dirty || password1.touched)">*Bitte geben Sie ein gültiges Passwort ein.</span>
    </div>
    <div>
      <label for="password"></label>
      <input #password2="ngModel" type="password" minlength="6" placeholder="Neues Passwort bestätigen" [(ngModel)]="secondPassword" name="secondPassword" required="password2">
      <span *ngIf="(password2.touched && secondPassword !== firstPassword)">*Ihre Kennwörter stimmen nicht überein!</span>
    </div>
  </div>

  <div class="btn-wrapper">
    <button (click)="changePassword()" [ngClass]="{'disabled-button': !isFormValid()}" [disabled]="!isFormValid()">Passwort ändern</button>
  </div>
</form>

<div class="confirmPopup" *ngIf="showPopup">
  <span>Anmelden</span> 
</div>