@use './../../../mixins.scss' as *;

form {
  max-width: 45rem;

  >.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include arrowBack;

    >h2 {
      margin: auto;
    }
  }

  >p {
    font-size: 1.2rem;
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 100%;

    >div {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      >input {
        width: 100%;
      }

      >span {
        position: absolute;
        color: #ED1E79;
        top: 100%;
        left: 1rem;
      }
    }
  }

  .btn-wrapper {
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 2rem;

    button {
      background-color: #444DF2;

      &:hover {
        background-color: #797EF3;
      }
    }

    button.disabled-button {
      background-color: #686868;
      cursor: not-allowed;
    }
  }
}