<div class="change-avatar">
    <h2>Wähle deinen Avatar</h2>

    <div class="profile-img-username">
        <img [src]="selectedAvatar">
        <span>{{ authService.currentUserSig()?.username }}</span>
    </div>

    <div class="span-avatarList">
        <span>Aus der Liste wählen</span>

        <div class="avatarList">
            <img src="assets/img/chars/char1.png" (click)="selectNewAvatar('assets/img/chars/char1.png')">
            <img src="assets/img/chars/char2.png" (click)="selectNewAvatar('assets/img/chars/char2.png')">
            <img src="assets/img/chars/char3.png" (click)="selectNewAvatar('assets/img/chars/char3.png')">
            <img src="assets/img/chars/char4.png" (click)="selectNewAvatar('assets/img/chars/char4.png')">
            <img src="assets/img/chars/char5.png" (click)="selectNewAvatar('assets/img/chars/char5.png')">
            <img src="assets/img/chars/char6.png" (click)="selectNewAvatar('assets/img/chars/char6.png')">
        </div>
    </div>

    <div class="upload-your-own-picture">
        <span>eigenes Bild verwenden</span>
        <button>Datei hochladen</button>
    </div>

    <div class="buttons-container">
        <button (click)="closeChangeAvatar()">Abbrechen</button>
        <button (click)="confirmNewSelectedAvatar()">Bestätigen</button>
    </div>
</div>