<div class="other-users-profile">
    <div class="other-users-profile-header">
        <p>Profil</p>

        <div class="bounding-box" (click)="closeOtherUsersProfile()">
            <img src="assets/icons/close.svg">
        </div>
    </div>

    <div class="other-users-profile-img">
        <img [src]="user?.avatar">
    </div>

    <div class="name-and-onlineStatus">
        <p class="name">{{ user?.username }}</p>

        <div [ngClass]="checkStatus()">
            <div class="statusSymbol"></div>
            <p>{{ user?.status }}</p>
        </div>
    </div>

    <div class="email-address-container">
        <img src="assets/icons/mail.png">

        <div class="address">
            <p>E-Mail-Adresse</p>
            <p>{{ user?.email }}</p>
        </div>
    </div>

    <button (click)="directMessageToThisUser(user?.uid)">
        <img src="assets/icons/messageIcon.png">
        <span>Nachricht</span>
    </button>
</div>