@import '../../../styles.scss';
@import '../../../mixins.scss';

main{
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 1.875rem;
}

app-channel-chat{
    @include dFlex($fd: column);
    height: 100%;
    width: 100%;
}