@import '../../../styles.scss';
@import '../../../mixins.scss';

main{
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 1.875rem;
    @media(max-width: 999px) {
        border-radius: 0;
    }
}

app-channel-chat, app-direct-message{
    @include dFlex($fd: column);
    height: 100%;
    width: 100%;
}

app-new-message {
    height: 100%;
    width: 100%;
    @include dFlex($fd: column, $jc: space-between);
}