<main [ngClass]="observerService.isMobile ? 'mobile-popup' : 'popup'">
    <div class="title">
        <div>
            <h3>Leute hinzufügen</h3>
            <svg (click)="togglePopup()" class="icon" width="50" height="50" viewBox="0 0 40 40"
                fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_72825_6602" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="8" y="8" width="24"
                    height="24">
                    <rect x="8" y="8" width="24" height="24" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_72825_6602)">
                    <path
                        d="M20 21.4L15.1 26.3C14.9167 26.4833 14.6834 26.575 14.4 26.575C14.1167 26.575 13.8834 26.4833 13.7 26.3C13.5167 26.1167 13.425 25.8833 13.425 25.6C13.425 25.3167 13.5167 25.0833 13.7 24.9L18.6 20L13.7 15.1C13.5167 14.9167 13.425 14.6833 13.425 14.4C13.425 14.1167 13.5167 13.8833 13.7 13.7C13.8834 13.5167 14.1167 13.425 14.4 13.425C14.6834 13.425 14.9167 13.5167 15.1 13.7L20 18.6L24.9 13.7C25.0834 13.5167 25.3167 13.425 25.6 13.425C25.8834 13.425 26.1167 13.5167 26.3 13.7C26.4834 13.8833 26.575 14.1167 26.575 14.4C26.575 14.6833 26.4834 14.9167 26.3 15.1L21.4 20L26.3 24.9C26.4834 25.0833 26.575 25.3167 26.575 25.6C26.575 25.8833 26.4834 26.1167 26.3 26.3C26.1167 26.4833 25.8834 26.575 25.6 26.575C25.3167 26.575 25.0834 26.4833 24.9 26.3L20 21.4Z"
                        fill="black" />
                </g>
            </svg>
        </div>
        <span class="channel-name"># {{ channelService.fireService.currentChannel.name }}</span>
    </div>
    <form class="channel-form">

            <div class="selected-users">
                @for (user of selectedUsers; track $index; let index = $index) {
                    <div class="selected-user">
                        <div class="img-wrapper">
                            <hr [ngClass]="{
                                'online-state': userService.getUserData(user).status === 'online',
                                'offline-state': userService.getUserData(user).status === 'offline',
                                'away-state': userService.getUserData(user).status === 'away',
                             }">
                            <img class="profile-img" [src]="userService.setAvatarImg(userService.getUserData(user))" alt="">
                        </div>
                    <span>{{ userService.getUserData(user).username }}</span>
                    <svg (click)="unselectUser(user, index)" class="remove-user-icon" width="30" height="31" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_740_11631)">
                        <mask id="mask0_740_11631" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="8" y="8" width="24" height="25">
                        <rect x="8" y="8.5" width="24" height="24" fill="#D9D9D9"/>
                        </mask>
                        <g mask="url(#mask0_740_11631)">
                        <path d="M15 16.55L11.325 20.225C11.1875 20.3625 11.0125 20.4312 10.8 20.4312C10.5875 20.4312 10.4125 20.3625 10.275 20.225C10.1375 20.0875 10.0687 19.9125 10.0687 19.7C10.0687 19.4875 10.1375 19.3125 10.275 19.175L13.95 15.5L10.275 11.825C10.1375 11.6875 10.0687 11.5125 10.0687 11.3C10.0687 11.0875 10.1375 10.9125 10.275 10.775C10.4125 10.6375 10.5875 10.5687 10.8 10.5687C11.0125 10.5687 11.1875 10.6375 11.325 10.775L15 14.45L18.675 10.775C18.8125 10.6375 18.9875 10.5687 19.2 10.5687C19.4125 10.5687 19.5875 10.6375 19.725 10.775C19.8625 10.9125 19.9312 11.0875 19.9312 11.3C19.9312 11.5125 19.8625 11.6875 19.725 11.825L16.05 15.5L19.725 19.175C19.8625 19.3125 19.9312 19.4875 19.9312 19.7C19.9312 19.9125 19.8625 20.0875 19.725 20.225C19.5875 20.3625 19.4125 20.4312 19.2 20.4312C18.9875 20.4312 18.8125 20.3625 18.675 20.225L15 16.55Z" fill="black"/>
                        </g>
                        </g>
                        <defs>
                        <clipPath id="clip0_740_11631">
                        <rect y="0.5" width="30" height="30" rx="15" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg>
                        
                    </div>
                }
            </div>
        <div class="search-input-wrapper">
            <input (input)="searchUsers()" [(ngModel)]="searchInput" placeholder="Name eingeben" name="searchInput" type="text" class="channel-input">
            @if (filteredUsers.length > 0) {
            <div class="users">
                @for (user of filteredUsers; track $index; let index = $index) {
                    <div (click)="selectUser(user, index)" class="user">
                        <div class="img-wrapper">
                            <hr [ngClass]="{
                                'online-state': userService.getUserData(user).status === 'online',
                                'offline-state': userService.getUserData(user).status === 'offline',
                                'away-state': userService.getUserData(user).status === 'away',
                             }">
                            <img class="profile-img" [src]="userService.setAvatarImg(userService.getUserData(user))" alt="">
                        </div>
                    <span>{{ userService.getUserData(user).username }}</span>
                    </div>
                    
                }
            </div>
            }

        </div>

        
        <button (click)="onSubmit()"  type="button" class="primary-btn add-user-btn">Hinzufügen</button>

    </form>
</main>