@import '../../../../mixins.scss';
@import '../../../../styles.scss';

.popup{
    box-shadow: 0rem 0.375rem 0.625rem 0rem #00000033;
    background-color: white;
    border-radius: 1.875rem 0 1.875rem 1.875rem;
    @include dFlex($fd: column, $g: 1.25rem);
    padding: 2.5rem;
    min-width: 30rem;
}

.mobile-popup{
    @include dFlex($fd: column, $g: 1.25rem);
    background-color: white;
    width: 100%;
}

.title {
    @include dFlex($fd: column, $ai: flex-start, $jc: flex-start, $g: 0.3125rem);
    width: 100%;
    >div {
        @include dFlex($jc: space-between);
        width: 100%;
        h3 {
            font-family: Nunito;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 2.04625rem;
            text-align: left;
            white-space: nowrap;
        }
    }

    .channel-name {
        color: $color-purple-3;
        font-family: Nunito;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.534rem;
        text-align: left;
    }
}

.add-user-btn {
    margin-left: auto;
}

.add-user-input {
    width: 26.875rem;
}

.search-input-wrapper {
    width: 100%;
    position: relative;
}

.users {
    position: absolute;
    top: 4rem;
    left: 0;
    @include dFlex($fd: column, $ai: flex-start, $g: 1rem, $jc: flex-start);
    border: 0.0625rem solid $color-purple-light;
    border-radius: 0 1.25rem 1.25rem 1.25rem;
    padding: 1.25rem 1.563rem;
    box-shadow: 0rem 0.125rem 0.625rem 0rem #00000014;
    z-index: 2;
    background-color: white;
    max-height: 18.75rem;
    overflow-y: auto;
}

.online-state {
    @extend .state-icon;
    background-color: $color-online-green;
}

.offline-state {
    @extend .state-icon;
    background-color: $color-offline-gray;
}

.selected-users {
    @include dFlex($jc: flex-start, $ai: flex-start, $g: 0.25rem);
    flex-wrap: wrap;
    width: 100%;
}

.selected-user {
    width: fit-content;
    padding: 0.25rem 1.25rem;
    border-radius: 100vw;
    @include dFlex($jc: flex-start, $g: 0.9375rem);
    cursor: pointer;
    background-color: $color-active-channel;

    span {
        font-family: Nunito;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.534rem;
        text-align: left;
    }
}

.remove-user-icon:hover{
    scale: 1.05;
    cursor: pointer;
    rect, path{
        fill: $color-purple-3;
    }
}

.user {
    width: fit-content;
    padding: 0.25rem 1.25rem;
    border-radius: 100vw;
    @include dFlex($jc: flex-start, $g: 0.9375rem);
    cursor: pointer;

    span {
        font-family: Nunito;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.534rem;
    }

    &:hover {
        background-color: $color-active-channel;
    }
}

.img-wrapper {
    position: relative;
}

.state-icon {
    position: absolute;
    bottom: 0.4375rem;
    right: 0;
    height: 0.875rem;
    width: 0.875rem;
    border-radius: 100%;
    border: 0.125rem solid white;
}

.profile-img {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 100%;
}

input{
    width: 100%;
}