@import '../../../../mixins.scss';
@import '../../../../styles.scss';

main {
    box-shadow: 0px 6px 10px 0px #00000033;
    background-color: white;
    border-radius: 30px 0 30px 30px;
    @include dFlex($fd: column, $g: 20px);
    padding: 40px;
}

.title {
    @include dFlex($fd: column, $ai: flex-start, $jc: flex-start, $g: 5px);
    width: 100%;
    >div {
        @include dFlex($jc: space-between);
        width: 100%;
        h3 {
            font-family: Nunito;
            font-size: 24px;
            font-weight: 700;
            line-height: 32.74px;
            text-align: left;
            white-space: nowrap;
        }
    }

    .channel-name {
        color: $color-purple-3;
        font-family: Nunito;
        font-size: 18px;
        font-weight: 400;
        line-height: 24.55px;
        text-align: left;

    }
}

.add-user-btn{
    margin-left: auto;
}

.add-user-input{
    width: 430px;
}