<app-header *ngIf="showFooterAndHeader"></app-header>

<app-header-for-usermanagement *ngIf="!showFooterAndHeader"></app-header-for-usermanagement>

<router-outlet></router-outlet>

<app-footer *ngIf="!showFooterAndHeader"></app-footer>

@if (testMode) {
<button class="test-btn" (click)="authService.guestLogin()">guest login</button>
<button class="test-btn" (click)="authService.guestSignUp()">guest sign up</button>
<button class="test-btn" (click)="authService.deleteUserAccount()">Delete Account</button>
<button class="test-btn" (click)="authService.logout()">Log out</button>
<!-- <button class="test-btn" (click)="authService.signInWithGoogle()">Sign in with google</button> -->
 <button class="test-btn" (click)="authService.updateUserEmail('contact@manuel-braun.net')">Update Email</button>
 <button class="test-btn" (click)="authService.updateUserPassword('666666')">Update Password</button>
 <button class="test-btn" (click)="authService.verifyUsersEmail()">verifyEmail</button>
 <button class="test-btn" (click)="authService.reAuthenticateUser('info@manuel-braun.net', '666666')">Re-authenticate</button>
}