@use "./../mixins.scss" as *;

app-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  @media (max-width: 999px) {
    padding: 0.938rem 1rem 0.938rem 1rem;
  }
}

.test-btn {
  color: red;
}

.router-outlet-wrapper {
  width: 100%;
  height: calc(100% - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsive-container {
  @include flexColumn;
  display: none;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;

  > a {
    text-decoration: none;
    border: 0.1rem solid #444df2;
    border-radius: 1.5rem;
    color: #444df2;
    background-color: white;
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    font-weight: 700;

    &:hover {
      border: 0.1rem solid #535af1;
      color: white;
      background-color: #535af1;
    }
  }

  @media (max-width: 500px) {
    display: flex;
  }
}
