app-header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 0rem 2rem;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    height: calc(100% - 88px);
    padding: 2rem;
}

.test-btn{
    color: red;
}