@import '../../../../styles.scss';
@import '../../../../mixins.scss';






.messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    overflow-y: auto;
    height: 100%;
}

.date-divider {
    @include dFlex();

    .messages-date {
        padding: 0.313rem 0.938rem;
        border: 1px solid $color-purple-light;
        border-radius: 100vw;
        width: fit-content;
        font-family: Nunito;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.534rem;
        color: black;
    }

    .line-wrapper {
        flex-grow: 2;
        @include dFlex();

        .line {
            border: unset;
            height: 1px;
            width: 100%;
            background-color: $color-purple-light;
        }
    }
}

app-send-message {
    width: 100%;
    height: fit-content;
    padding: 0 2.188rem 2.5rem 2.188rem;
}