@import '../../../../styles.scss';
@import '../../../../mixins.scss';

header {
    height: 6.375rem;
    box-shadow: 0rem 0.125rem 0.625rem 0rem #00000014;
    padding: 1.5625rem 2.8125rem;
    width: 100%;
    border-radius: 1.875rem 1.875rem 0 0;
    @include dFlex($jc: flex-start);

    @media(max-width: 999px) {
        border-radius: 0;
        padding: 0.625rem 1rem;
    }

    >div {
        padding: 0.25rem 0.5rem;
        border-radius: 100vw;
        transition: ease-in 0.15s;
        @include dFlex($g: 1rem);
        cursor: pointer;

        img {
            width: 3.125rem;
            height: 3.125rem;
            border-radius: 100%;
        }

        h3 {
            font-family: Nunito;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 2.04625rem;
            color: black;
        }

        &:hover {
            background-color: $color-active-channel;
            transition: ease-in 0.15s;
        }
    }
}

.messages {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 1rem 0;
    overflow-y: auto;
    height: calc(100% - 17.40625rem);
}

.message-recipient {
    @include dFlex($fd: column, $ai: flex-start, $g: 1.5rem);
    padding: 1rem 2.188rem;
    margin-right: auto;

    .name {
        @include dFlex($g: 1.563rem, $ai: flex-end);

        img {
            border-radius: 100%;
            height: 6.25rem;
            width: 6.25rem;
        }

        h3 {
            font-family: Nunito;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 2.04625rem;
            color: black;

            @media(max-width: 999px) {
            }
        }
    }

    .info {
        span {
            font-family: Nunito;
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 1.705rem;
            text-align: left;
            color: $color-offline-gray;
            

            .user-name {
                color: $color-purple-3;
                cursor: pointer;
                transition: ease-in 0.15s;

                &:hover {
                    font-weight: 700;
                    transition: ease-in 0.15s;
                }
            }
        }
    }
}



.room {
    font-weight: 700 !important;
}