<header>
    <div>
        <img [src]="getConversationPartner().avatar" alt="">
        <h3>{{ getConversationPartner().username }}</h3>
    </div>

</header>

<main #conversationMessages class="messages">

    @for (day of conversationService.fireService.messagesPerDayConversation; track $index) {
    <div class="date-divider">
        <div class="line-wrapper">
            <hr class="line">
        </div>
        <h3 class="messages-date">{{ day.messages[0].time | formatDateForList}} </h3>
        <div class="line-wrapper">
            <hr class="line">
        </div>

    </div>

    @for (message of day.messages; track $index) {
    <app-single-message [currentMessage]="message"></app-single-message>
    }
    }

    <div class="message-recipient">
        <div class="name">
            <img [src]="getConversationPartner().avatar" alt="">
            <h3>{{ getConversationPartner().username }}</h3>
        </div>
        <div class="info">
            <span>Diese Unterhaltung findet nur zwischen <span class="user-name">&#64;{{ getConversationPartner().username }} </span>und dir statt.</span>
        </div>
    </div>

</main>




<app-send-message [currentRecipient]="conversationService.fireService.currentConversation"></app-send-message>