<header>
    <div>
        <img [src]="conversationService.getConversationPartner().avatar" alt="">
        <h3>{{ conversationService.getConversationPartner().username }} @if (conversationService.isSelfTalking()) {(Du)}</h3>
    </div>
</header>
<main #conversationMessages class="messages">
    @for (day of conversationService.fireService.messagesPerDayConversation; track $index) {
    <app-date-divider [day]="day"></app-date-divider>
    @for (message of day.messages; track $index) {
    <app-single-message [id]="'conversation-' + message.id" [currentMessage]="message"></app-single-message>
    }
    }
    <div [ngStyle]="conversationService.fireService.currentConversation.messages.length === 0 ? {'margin-top': 'auto'} : {'margin-top': '0'}"
        class="message-recipient">
        <div class="name">
            <img [src]="conversationService.getConversationPartner().avatar" alt="">
            <h3>{{ conversationService.getConversationPartner().username }} @if (conversationService.isSelfTalking()){(Du)}</h3>
        </div>
        <div class="info">
            @if (conversationService.isSelfTalking()) {
            <span><span class="room">Dieser Raum ist nur für dich da.</span> Mache dir Notizen, liste deine To-dos auf
                oder bewahre Links und Dateien griffbereit auf. Du kannst hier auch gerne Dinge mit dir selbst
                besprechen.</span>
            } @else {
            <span>Diese Unterhaltung findet nur zwischen <span class="user-name">&#64;{{
                    conversationService.getConversationPartner().username }} </span>und dir statt.</span>
            }
        </div>
    </div>
</main>

<app-send-message [currentRecipient]="conversationService.fireService.currentConversation"></app-send-message>