<div class="edit-profile">
    <div class="edit-header">
        <p>Dein Profil bearbeiten</p>

        <div class="bounding-box" (click)="closeEditProfile()">
            <img src="assets/icons/close.svg">
        </div>
    </div>

    <div class="profile-img">
        <img src="assets/img/avatar.png">
    </div>

    <form action="" class="edit-name-mail-container">
        <div class="edit-name-mail">
            <div class="icon-label">
                <img src="assets/icons/account_circle.png">
                <label for="name">Vollständiger Name</label>
            </div>

            <input type="text" id="name" name="name" placeholder="Frederik Beck">
        </div>

        <div class="edit-name-mail" style="margin-top: 1rem">
            <div class="icon-label">
                <img src="assets/icons/mail.png">
                <label for="mail">E-Mail-Adresse</label>
            </div>

            <input type="email" id="mail" name="mail" placeholder="fred.beck@email.com">
        </div>

        <div class="buttons-container">
            <input type="reset" value="Abbrechen" (click)="closeEditProfile()">
            <input type="submit" value="Speichern">
        </div>
    </form>
</div>