.edit-profile {
  max-width: 31.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 1.875rem;
  padding: 2.5rem;
  gap: 2.813rem;
  box-shadow: 0rem 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 0;
  // top: 6.313rem;
  top: 0;
  margin-right: 2rem;
}

.popup-top {
  position: relative;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.813rem;
}

.popup-bottom {
  position: relative;
}

.edit-header {
  width: 26.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-weight: 700;
    font-size: 1.5rem;
  }

  .bounding-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    background-color: transparent;
    transition: ease-in-out 250ms;

    &:hover {
      cursor: pointer;
      background-color: #d9d9d9;
      transition: ease-in-out 250ms;

      img {
        filter: invert(48%) sepia(24%) saturate(3976%) hue-rotate(216deg)
          brightness(103%) contrast(90%);
        transition: ease-in-out 250ms;
      }
    }

    img {
      transition: ease-in-out 250ms;
    }
  }
}

.profile-img {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  transition: all ease-in-out 250ms;

  &:hover {
    opacity: 0.8;
    transition: all ease-in-out 250ms;

    span {
      transform: translateY(2.5rem);
      opacity: 1;
      transition: all ease-in-out 250ms;
      cursor: default;
      pointer-events: none;
    }
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    cursor: pointer;
  }

  span {
    position: absolute;
    bottom: 0;
    background-color: rgba(1, 1, 1, 0.5);
    padding: 0.5rem;
    border-radius: 1rem;
    color: white;
    z-index: -1;
    opacity: 0;
    transition: all ease-in-out 250ms;
  }
}

.edit-name-mail-form {
  width: 26.25rem;
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;

  .edit-name-mail {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.438rem;

    .icon-label {
      display: flex;
      align-items: center;
      gap: 1.25rem;

      img {
        cursor: default;
      }

      label {
        font-weight: 700;
        font-size: 1.25rem;
      }
    }

    input {
      cursor: text;
      background-color: white;
      border-radius: 1.875rem;
      border: solid 0.063rem #adb0d9;
      padding: 0.938rem 1.25rem 0.938rem 1.25rem;
      font-weight: 500;
      font-size: 1.125rem;
      color: #686868;
      transition: ease-in-out 125ms;

      &:hover {
        border: solid 0.063rem #444df2;
        transition: ease-in-out 125ms;
      }

      &:focus {
        border: solid 0.063rem #444df2;
        outline: none;
      }
    }

    span {
      color: red;
      padding-left: 1rem;
    }
  }
}

.buttons-container {
  display: flex;
  gap: 2rem;
  margin-top: 2.813rem;

  input {
    border-radius: 3.125rem;
    padding: 0.75rem 1.563rem 0.75rem 1.563rem;
    font-weight: 700;
    font-size: 1.125rem;
    outline: none;
  }

  :first-child {
    background-color: white;
    border: solid 0.063rem #797ef3;
    color: #444df2;
    transition: ease-in-out 250ms;

    &:hover {
      background-color: #444df2;
      color: white;
      transition: ease-in-out 250ms;
    }
  }

  :last-child {
    background-color: #444df2;
    color: #ffffff;
    transition: ease-in-out 250ms;

    &:hover {
      border: none;
      background-color: #797ef3;
      transition: ease-in-out 250ms;
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
      cursor: default;
    }
  }
}

.change-avatar-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 100%;
  position: absolute;
  animation: slideIn 0.5s linear;
}

.span-avatarList {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  span {
    font-weight: 400;
    font-size: 1.25rem;
  }

  .avatarList {
    display: flex;
    justify-content: center;
    gap: 0.5rem;

    img {
      height: 3.75rem;
      width: 3.75rem;
      padding: 0.3rem;
      border-radius: 50%;
      transition: all ease-in-out 250ms;

      &:hover {
        background-color: #c9d0ff;
        transition: all ease-in-out 250ms;
      }
    }
  }
}

.upload-your-own-picture {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;

  span {
    font-weight: 400;
    font-size: 1.25rem;
  }

  button {
    background-color: white;
    font-weight: 700;
    font-size: 1.125rem;
    color: #444df2;
    border: solid 0.063rem #797ef3;
    border-radius: 1.563rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    transition: ease-in-out 250ms;

    &:hover {
      background-color: #444df2;
      color: white;
      transition: ease-in-out 250ms;
    }
  }
}

.change-avatar-buttons-container {
  display: flex;
  gap: 2rem;

  button {
    border-radius: 3.125rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-weight: 700;
    font-size: 1.125rem;
  }

  :first-child {
    background-color: white;
    border: solid 0.063rem #797ef3;
    color: #444df2;
    transition: ease-in-out 250ms;

    &:hover {
      background-color: #444df2;
      color: white;
      transition: ease-in-out 250ms;
    }
  }

  :last-child {
    background-color: #444df2;
    color: #ffffff;
    transition: ease-in-out 250ms;

    &:hover {
      border: none;
      background-color: #797ef3;
      transition: ease-in-out 250ms;
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
    z-index: -1;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
    z-index: 0;
  }
}