@import '../../../../styles.scss';
@import '../../../../mixins.scss';

header {
    width: 100%;
    @include dFlex($fd: column, $ai: flex-start, $g: 1.25rem);
    box-shadow: 0rem 0.125rem 0.625rem 0rem #00000014;
    padding: 2rem 2.8125rem 1.25rem 2.8125rem;
    background-color: white;
    border-radius: 1.875rem 1.875rem 0 0;

    @media(max-width: 999px) {
        border-radius: 0;
        padding: 0.625rem 1rem;
        gap: 0.5rem;
    }

    .input-wrapper {
        position: relative;
    }

    input {
        width: 100%;
        font-family: Nunito;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.534rem;
        text-align: left;
        color: $color-disabled-grey;
    }

    h3 {
        color: black;
        font-family: Nunito;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 2.04625rem;
    }
}

.result-list {
    @include dFlex($fd: column, $ai: flex-start, $jc: flex-start, $g: 0.5rem);
    position: absolute;
    box-shadow: 0px 6px 10px 0px #00000033;
    border-radius: 0 30px 30px 30px;
    background-color: white;
    padding: 20px;
    top: 87px;
    left: 23px;
    z-index: 2;
}

.result-wrapper {
    @include dFlex($jc: flex-start, $g: 0.5rem);
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 100vw;
    transition: 150ms ease-in;

    &:hover {
        background-color: $color-active-channel;
        transition: 150ms ease-in;
    }
}

.no-member {
    color: $color-error-red;
}

.result {
    white-space: nowrap;
    font-family: Nunito;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.534rem;
    text-align: left;
    background-color: unset;
    color: black;
}

.userAvatar {
    height: 30px;
    width: 30px;
    border-radius: 100%;
}