<header>
    <h3>Neue Nachricht</h3>
    <div class="input-wrapper">
        @if (filteredResults.length > 0) {
            <div class="result-list">
                @for (result of filteredResults; track $index) {
                    <div class="result-wrapper">
                        @if (isResultUser(result)) {
                            <img class="userAvatar" [src]="result.avatar" alt="">
                        } @else {
                            <img src="assets/icons/workspace-menu/workspace-3-circles.svg" alt="" class="userAvatar">
                        }
                        <button (click)="completeInput(result)" [ngStyle]="{'cursor': checkResultType(result) === 'Channel' ? 'not-allowed' : 'pointer'}" [disabled]="checkResultType(result) === 'Channel'" class="result">
                            {{ setName(result) }}
                            @if (checkResultType(result) === 'Channel') {
                                <span class="no-member">(Kein Channel Mitglied)</span>
                            }
                        </button>                        
                    </div>
                }
            </div>
        }
        
    </div>
    <input [(ngModel)]="searchInput" (input)="search()" [placeholder]="setPlaceholderForSearchbar()" type="text" class="channel-input">
    
</header>
<app-send-message [disableInput]="isChildInputDisabled" [userUid]="userUid" [currentRecipient]="recipientForChild" [newMessage]="true" [newPlaceholder]="placeholderForChild"></app-send-message>
