@import '../../../../styles.scss';
@import '../../../../mixins.scss';

.pdf-link {
    transition: 125ms ease-out;

    &:hover {
        font-weight: 500;
        transition: 125ms ease-out;
    }
}

iframe{
    border-radius: 0.5rem;
}

.message-container {
    position: relative;
    width: 100%;
    display: flex;
    gap: 1.875rem;
    padding: 1.5rem;
    transition: ease 225ms;

    &:hover {
        background-color: $color-active-channel;
        transition: ease 225ms;
    }

    &:hover .user-content {
        background-color: white;
        transition: ease 225ms;
    }

    &:hover .reaction-bar-user {
        visibility: visible;
        opacity: 1;
        animation: reaction-bar-user-slide-in 150ms ease-out forwards;
    }

    &:not(:hover) .reaction-bar-user {
        visibility: visible;
        opacity: 0;
        animation: reaction-bar-user-slide-out 150ms ease-out forwards;
    }

    &:hover .reaction-bar-current-user {
        visibility: visible;
        opacity: 1;
        animation: reaction-bar-current-user-slide-in 150ms ease-out forwards;
    }

    &:not(:hover) .reaction-bar-current-user {
        visibility: visible;
        opacity: 0;
        animation: reaction-bar-current-user-slide-out 150ms ease-out forwards;
    }
}

.avatar {
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 100%;
    background-color: white;
    object-fit: cover;
    cursor: default;

    @media(max-width: 999px) {
        width: 3.125rem;
        height: 3.125rem;
    }
}

.message {
    width: 100%;
    @include dFlex($fd: column, $ai: flex-start, $g: 0.5rem);
}

.name-and-time {
    @include dFlex($jc: flex-start, $g: 1.25rem);
    width: 100%;

    h3 {
        font-family: Nunito;
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 1.534rem;
        text-align: left;
        color: black;
        transition: ease-in-out 250ms;

        &:hover {
            cursor: pointer;
            color: #444df2;
            transition: ease-in-out 250ms;
        }
    }

    span {
        font-family: Nunito;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.194rem;
        text-align: left;
        color: $color-disabled-grey;
    }
}

.answers {
    @include dFlex($jc: flex-start, $g: 1.25rem);

    .answer-counter {
        cursor: pointer;
        font-family: Nunito;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.534rem;
        text-align: left;
        color: $color-purple-3;
        transition: ease 225ms;

        &:hover {
            transition: ease 225ms;
            transform: scale(1.05);
        }
    }

    .last-answer {
        font-family: Nunito;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.194rem;
        text-align: left;
        color: $color-disabled-grey;
    }
}

.current-user-content {
    @include dFlex($fd: column, $g: 1rem);
    background-color: $color-purple-3;
    border-radius: 1.875rem 0 1.875rem 1.875rem;
    padding: 0.938rem;

    span {
        color: white;
        font-family: Nunito;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.449rem;
    }
}

.user-content {
    @include dFlex($fd: column, $g: 1rem);
    background-color: $color-active-channel;
    border-radius: 0 1.875rem 1.875rem 1.875rem;
    padding: 0.938rem;
    transition: ease 225ms;

    span {
        color: black;
        font-family: Nunito;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.449rem;
    }
}

.content {
    display: flex;
    justify-content: flex-start;

    span {
        font-family: Nunito;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.534rem;
        text-align: left;
    }
}

.reaction-bar-wrapper {
    position: relative;
}

.reaction-bar-user {
    position: absolute;
    top: -1rem;
    right: 2rem;
    visibility: hidden;
    animation: reaction-bar-user-slide-in 200ms ease-out forwards;
}

.reaction-bar-current-user {
    position: absolute;
    top: -1rem;
    left: 2rem;
    visibility: hidden;
    animation: reaction-bar-current-user-slide-in 200ms ease-out forwards;
}

.popup {
    background-color: white;
    z-index: 3;
    @include dFlex($g: 0.9375rem);
    position: absolute;
    top: 50%;
    left: 15rem;
    box-shadow: 0px 0.375rem 0.875rem 0px #00000033;
    padding: 0.625rem 1.25rem;
    border-radius: 0 1.875rem 1.875rem 1.875rem;
    @media(max-width: 999px) {
        top: 100%;
        left: 0;
    }

    span {
        font-family: Nunito;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.705rem;
        text-align: left;
        color: black;
        white-space: nowrap;
        padding: 0.625rem 1.25rem;
        border-radius: 100vw;
        transition: 150ms ease-in;
    }

    &:hover span {
        font-weight: 700;
        transition: 150ms ease-in;
        color: $color-purple-3;
        background-color: $color-active-channel;
    }
}

.icon-wrapper {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    @include dFlex();
    transition: 150ms ease-in;

    &:hover {
        background-color: $color-active-channel;
        transition: 150ms ease-in;
    }
    
}

.svg-hover {
    
    transition: 150ms ease-in;

    &:hover svg {
        scale: 1.05;

        path {
            fill: $color-purple-3;
        }
    }
}

.edit-container {
    border: 1px solid $color-purple-light;
    background-color: white;
    border-radius: 1.25rem;
    padding: 1.25rem;
    @include dFlex($fd: column, $g: 1rem);

    .footer {
        width: 100%;
        @include dFlex($jc: space-between);

        .btns {
            @include dFlex($g: 2rem);
            @media(max-width: 999px) {
                flex-direction: column;
                gap: 0.5rem;
            }
        }
    }
    form{
        display: block;
        padding: 0;
        margin-right: auto;
        border: unset;
    }

    textarea {
        width: 100%;
        border: unset;
        outline: none;
        resize: none;
        font-family: Nunito;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.534rem;
        color: $color-disabled-grey;
    }
}

.data-preview {
    width: 6rem;
    height: 4rem;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    object-fit: cover;
    transition: all 300ms ease-out;

    &:hover {
        transition: all 300ms ease-out;
        scale: 1.05;
    }
}

app-data-detail-view {
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(236, 238, 254, 0.5019607843);
}

.emoji-picker-wrapper-currentUser {
    z-index: 3;
    position: absolute;
    top: 50px;
    left: 0;
    @media(max-width: 999px) {
        top: 40px;
        left: -20px;
    }
}

.emoji-picker-wrapper-user {
    z-index: 3;
    position: absolute;
    top: 50px;
    right: 0;
    @media(max-width: 999px) {
        top: 40px;
        right: -20px;
    }
}

.edit-emoji-picker-wrapper {
    z-index: 3;
    position: absolute;
    bottom: 60px;
    left: 160px;
}

.reactions {
    @include dFlex($g: 0.625rem, $jc: flex-start);
    flex-wrap: wrap;
}

.reaction {
    position: relative;
    @include dFlex($g: 0.625rem);
    border: 1px solid $color-purple-light;
    padding: 0.3125rem 0.625rem;
    border-radius: 100vw;
    transition: ease-in-out 250ms;

    &:hover {
        cursor: pointer;
        border-color: #444df2;
        transition: ease-in-out 250ms;
    }

    span {
        font-family: Nunito;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.364rem;
    }

    ngx-emoji {
        @include dFlex();
    }
}

.info-popup-current-user {
    position: absolute;
    bottom: 2.5rem;
    right: 2rem;
    background-color: $color-purple-1;
    border-radius: 1.875rem 1.875rem 0 1.875rem;
    padding: 0.9375rem 0.625rem;
    @include dFlex($fd: column, $g: 0.3125rem);
    min-width: 10rem;
}

.info-popup-user {
    position: absolute;
    bottom: 2.5rem;
    left: 2rem;
    background-color: $color-purple-1;
    border-radius: 1.875rem 1.875rem 1.875rem 0;
    padding: 0.9375rem 0.625rem;
    @include dFlex($fd: column, $g: 0.3125rem);
    min-width: 10rem;
}

.reaction-from {
    font-family: Nunito;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.534rem;
    color: white;
}

.react {
    font-family: Nunito;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.364rem;
    color: white;
}