<div [ngStyle]="{'flex-direction': userService.isMessageFromCurrentUser(currentMessage) ? 'row-reverse' : 'row'}" class="message-container">
    <img class="avatar" [src]="userService.getUserData(currentMessage.sender).avatar" alt="">
    <div [ngStyle]="{'align-items': userService.isMessageFromCurrentUser(currentMessage) ? 'flex-end' : 'flex-start'}" class="message">
        <div [ngStyle]="{'flex-direction': userService.isMessageFromCurrentUser(currentMessage) ? 'row-reverse' : 'row'}" class="name-and-time">
            <h3>{{ userService.getUserData(currentMessage.sender).username }}</h3>
            <span>{{ getFormattedTime(currentMessage.time) }}</span>
        </div>
        <div [ngClass]="userService.isMessageFromCurrentUser(currentMessage) ? 'current-user-content' : 'user-content'" class="content">
            <span>{{ currentMessage.content }}</span>
        </div>
        @if (!threadMessage && messageHasAnswers()) {
        <div class="answers">
            <span (click)="answer()" class="answer-counter">{{ currentMessage.thread?.messages?.length}} {{
                formatAnswerCount() }}</span>
            <span class="last-answer">Letzte Antwort {{ getTimeOfLastAnswer() }}</span>
        </div>
        }

    </div>
    <div [ngClass]="userService.isMessageFromCurrentUser(currentMessage) ? 'reaction-bar-current-user' : 'reaction-bar-user'">
        <app-reaction-bar [threadMessage]="threadMessage" [currentMessage]="currentMessage" (triggerAnswer)="answer()"></app-reaction-bar>
    </div>
    

   

</div>