@import '../../../../mixins.scss';
@import '../../../../styles.scss';


.popup-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: $color-popup-bg;
}

.popup-edit-channel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.add-user-btn-wrapper {
    position: relative;
}

.popup-relative {
    position: absolute;
    z-index: 3;
    right: 0;
    top: 2.8125rem;
}

header {
    height: 102px;
    box-shadow: 0rem 0.125rem 0.625rem 0rem #00000014;
    padding: 1.5625rem 2.8125rem;
    width: 100%;
    border-radius: 1.875rem 1.875rem 0 0;
    @include dFlex($jc: space-between);

    .title {
        @include dFlex($g: 0.625rem, $jc: flex-start);
        cursor: pointer;
        padding: 0.375rem 0.625rem;
        border-radius: 100vw;
        transition: ease-in 0.15s;

        h4 {
            font-family: Nunito;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 2.04625rem;
        }

        &:hover {
            background-color: $color-active-channel;
            transition: ease-in 0.15s;
            color: $color-purple-3;
        }

        &:hover svg {
            path {
                fill: $color-purple-3;
            }
        }
    }

    .users-wrapper {
        position: relative;
    }

    .user-options {
        @include dFlex($g: 0.625rem, $jc: flex-start);

        .users {
            cursor: pointer;
            @include dFlex($jc: flex-start);
            border-radius: 100vw;
            padding: 0.375rem 0.625rem 0.375rem 1.125rem;
            transition: ease-in 0.15s;

            .profile-img {
                margin-left: -0.5rem;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 100%;
                border: 0.125rem solid white;
            }

            .user-number {
                margin-left: 0.625rem;
                font-family: Nunito;
                font-size: 1.25rem;
                font-weight: 600;
                line-height: 1.705rem;
            }

            &:hover {
                background-color: $color-active-channel;
                transition: ease-in 0.15s;
                color: $color-purple-3;
            }
        }

        .add-user {
            padding: 0.25rem;
            background-color: $color-active-channel;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 100%;
            cursor: pointer;
            transition: ease-in 0.15s;

            &:hover path,
            rect {
                fill: $color-purple-3;
                scale: 1.05;
                transition: ease-in 0.15s;
            }
        }
    }
}

app-send-message {
    height: 182px;
    width: 100%;
    height: fit-content;
    padding: 0 2.188rem 2.5rem 2.188rem;
}

.messages {
    display: flex;
    flex-direction: column;
    //justify-content: flex-end;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    overflow-y: auto;
    height: calc(100% - 282.5px);
}

.date-divider {
    @include dFlex();

    .messages-date {
        padding: 0.313rem 0.938rem;
        border: 1px solid $color-purple-light;
        border-radius: 100vw;
        width: fit-content;
        font-family: Nunito;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.534rem;
        color: black;
    }

    .line-wrapper {
        flex-grow: 2;
        @include dFlex();

        .line {
            border: unset;
            height: 1px;
            width: 100%;
            background-color: $color-purple-light;
        }
    }
}