@import '../../../../mixins.scss';
@import '../../../../styles.scss';

.channel-request {
    @include dFlex($fd: column, $g: 1rem);
    h2{
        font-size: 1.5rem;
    }
}

.popup-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: $color-popup-bg;
}

.popup-edit-channel {
    position: absolute;
    z-index: 3;
}

.full-screen {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    width: 100%;
}

.add-user-btn-wrapper {
    position: relative;
}

.add-user {
    @include dFlex();
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100%;
    background-color: $color-active-channel;
    transition: ease-in 0.15s;
    // @media(max-width: 999px) {
    //     height: 2rem;
    //     width: 2rem;
    // }

    &:hover {
        svg,
        path,
        rect {
            fill: $color-purple-3;
            scale: 1.05;
            transition: ease-in 0.15s;
        }
    }
}

.popup-relative {
    position: absolute;
    z-index: 3;
    right: 0;
    top: 2.8125rem;
}

.title-wrapper {
    position: relative;
}



header {
    height: 102px;
    box-shadow: 0rem 0.125rem 0.625rem 0rem #00000014;
    padding: 1.5625rem 2.8125rem;
    width: 100%;
    border-radius: 1.875rem 1.875rem 0 0;
    @include dFlex($jc: space-between);

    @media(max-width: 999px) {
        border-radius: 0;
        //padding: 0.625rem 1rem;
    }

    .title {
        @include dFlex($g: 0.625rem, $jc: flex-start);
        cursor: pointer;
        padding: 0.375rem 0.625rem;
        border-radius: 100vw;
        transition: ease-in 0.15s;

        h4 {
            font-family: Nunito;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 2.04625rem;

            // @media(max-width: 999px) {
            //     font-size: 1.25rem;
            //     line-height: 1.705rem;
            // }
        }

        &:hover {
            background-color: $color-active-channel;
            transition: ease-in 0.15s;
            color: $color-purple-3;
        }

        &:hover svg {
            path {
                fill: $color-purple-3;
            }
        }
    }

    .users-wrapper {
        position: relative;

        @media(max-width: 999px) {
            display: none;
        }
    }

    .user-options {
        @include dFlex($g: 0.625rem, $jc: flex-start);

        .users {
            cursor: pointer;
            @include dFlex($jc: flex-start);
            border-radius: 100vw;
            padding: 0.375rem 0.625rem 0.375rem 1.125rem;
            transition: ease-in 0.15s;

            .profile-img {
                margin-left: -0.5rem;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 100%;
                border: 0.125rem solid white;
            }

            .user-number {
                margin-left: 0.625rem;
                font-family: Nunito;
                font-size: 1.25rem;
                font-weight: 600;
                line-height: 1.705rem;
            }

            &:hover {
                background-color: $color-active-channel;
                transition: ease-in 0.15s;
                color: $color-purple-3;
            }
        }
    }
}

app-send-message {
    height: 182px;
    width: 100%;
    padding: 1rem 2.188rem 2.5rem 2.188rem;
    @media(max-width: 999px) {
        //padding: 1rem;
    }
}

.messages {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 1rem 0;
    overflow-y: auto;
    height: calc(100% - 282.5px);
}

.channel-info {
    @include dFlex($fd: column, $ai: flex-start, $g: 0.5rem);
    margin-right: auto;
    padding: 1rem 2.188rem 1rem 2.188rem;

    .title {
        @include dFlex($g: 0.625rem, $jc: flex-start);
        cursor: pointer;
        border-radius: 100vw;
        transition: ease-in 0.15s;
        width: fit-content;

        svg {
            display: none;
        }

        h4 {
            font-family: Nunito;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 2.04625rem;
        }

        &:hover {
            background-color: $color-active-channel;
            transition: ease-in 0.15s;
            color: $color-purple-3;
        }

        &:hover svg {
            transition: ease-in 0.15s;
            display: block;

            path {
                fill: $color-purple-3;
            }
        }
    }

    .info {
        font-family: Nunito;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.705rem;
        text-align: left;
    }

    .purple3 {
        color: $color-purple-3;
    }
}