@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexColumn{
  display: flex;
  flex-direction: column;
}

@mixin flexRow{
  display: flex;
  flex-direction: row;
}

