@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexColumn{
  display: flex;
  flex-direction: column;
}

@mixin flexRow{
  display: flex;
  flex-direction: row;
}

@mixin arrowBack {
  >a {
    position: absolute;
    left: 1rem;
    top: 30%;
    border-radius: 50%;

    &:hover {
      background-color: #ECEEFE;
      
      >img {
        filter: invert(37%) sepia(86%) saturate(6175%) hue-rotate(235deg) brightness(97%) contrast(96%);
      }
    }
  }
}

@mixin linkUserM {
  a {
    text-decoration: none;
    cursor: pointer;
    color: #797EF3;
    padding: 0.2rem;
    border-radius: 1.5rem;
  
    &:hover {
      font-weight: 700;
      background-color: #ECEEFE;
      color: #444DF2;
    }
  }
}

@mixin dFlex($fd: row, $jc: center, $ai: center, $g: 0){
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

