@use './fonts.scss' as *;
@import './mixins.scss';

* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

html,
body,
p,
h1,
h2,
h3,
h4 {
  padding: 0;
}


body {
  background-color: #ECEEFE;
  max-width: 1920px;
}

app-root {
  padding: 2rem;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .8rem;

  @media(max-width: 999px) {
    padding: 0;
    gap: 0;
  }
}

app-header-for-usermanagement {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  width: 100%;
}

app-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  @media(max-width: 999px) {
    padding: 0 1rem;
  }
}

app-header-for-usermanagement {
  align-items: center;
}

app-search-bar{
  width: 100%;
}

app-main-content {
  width: 100%;
  height: calc(100vh - 147px);

  @media(max-width: 999px) {
    height: calc(100vh - 70px);
  }
}

app-mobile-popup{
  z-index: 5;
  width: 100%;
}

app-footer {
  position: fixed;
  bottom: 1%;
}

img {
  cursor: pointer;
}

h2 {
  color: #444DF2;
  font-size: 2.8rem;
  font-weight: 700;
}

button {
  cursor: pointer;
  border: none;
  padding: .8rem 1.5rem;
  border-radius: 1.5rem;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
}

form {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  gap: 2.5rem;
  padding: 3.1rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.gap-05 {
  gap: .5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.full-center {
  align-items: center;
  justify-content: center;
}

.v-hidden {
  visibility: hidden;
}

.d-none {
  display: none;
}

// Colors

$color-online-green: #92C83E;
$color-offline-gray: #686868;
$color-purple-3: #535AF1;
$color-active-channel: #ECEEFE;
$color-main-bg: #ECEEFE;
$color-purple-1: #444DF2;
$color-purple-2: #797EF3;
$color-purple-light: #ADB0D9;
$color-disabled-grey: #686868;
$color-popup-bg: #eceefe80;
$color-error-red: #ED1E79;




// input fields for channel

.channel-form {
  background-color: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: unset;
  gap: 1.25rem;
  padding: unset;
  width: 100%;
}

.channel-input {
  font-family: Nunito;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.534rem;
  text-align: left;
  border: 0.0625rem solid $color-purple-light;
  padding: 1.125rem 1.25rem;
  background-color: white;
  border-radius: 100vw;
  outline: none;

  &:hover {
    border: 0.0625rem solid $color-purple-2;
  }

  &:focus {
    border: 0.0625rem solid $color-purple-3;
  }
}


// blue btn primary

.primary-btn {
  background-color: $color-purple-1;
  padding: 0.75rem 1.5625rem;
  border-radius: 1.5625rem;
  border: unset;
  font-family: Nunito;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.534rem;
  @include dFlex();
  transition: 100ms ease-in;

  &:hover {
    background-color: $color-purple-2;
    transition: 100ms ease-in;
  }

  &:disabled {
    background-color: $color-disabled-grey;
    cursor: not-allowed;
  }
}

.secondary-btn {
  border: 1px solid $color-purple-2;
  border-radius: 100vw;
  padding: 0.75rem 1.5625rem;
  font-family: Nunito;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.534rem;
  @include dFlex();
  transition: 100ms ease-in;
  color: $color-purple-1;
  background-color: white;

  &:hover {
    color: white;
    background-color: $color-purple-3;
    transition: 100ms ease-in;
    border-color: $color-purple-3;
  }

  &:focus {
    background-color: $color-purple-1;
    border-color: $color-purple-1;
    color: white;
    transition: 100ms ease-in;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: white;
    color: $color-disabled-grey;
    border: 1px solid $color-disabled-grey;
    transition: 100ms ease-in;
  }
}

.error-message {
  color: $color-error-red;
  font-family: Nunito;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.188rem;
  text-align: left;
  position: absolute;
  bottom: -1.2rem;
  left: 0;
}

.icon {
  @include dFlex();
  border-radius: 100%;
  cursor: pointer;

  &:hover {
    background-color: $color-active-channel;
    scale: 1.05;
  }

  &:hover path {
    fill: $color-purple-3;
  }
}


*::-webkit-scrollbar {
  width: .5rem;
  /* Breite des Scrollbalkens */
  max-height: .5rem;
  background: #FFFCF3;
  border-radius: 4px;
}

*::-webkit-scrollbar-track {
  background: #FFFCF3;
  /* Hintergrundfarbe des Scrollbalkens */
  border: 1px solid #444DF2;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  cursor: pointer;
  min-height: 30px;
  border: 1px solid black;
  background: #444DF2;
  /* Farbe des Griffs des Scrollbalkens */
  border-radius: 4px;
  /* Radius des Griffs des Scrollbalkens */
}

*::-webkit-scrollbar-thumb:hover {
  background: #797EF3;
  /* Farbe des Griffs des Scrollbalkens bei Hover */
}

@media(max-width: 700px) {
  h2 {
    font-size: 2rem;
  }
}