@use "./fonts.scss" as *;
@import "./mixins.scss";

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  margin: 0;
}

html,
body,
p,
h1,
h2,
h3,
h4 {
  padding: 0;
}

html {
  font-size: 16px;

  @media (max-width: 999px) {
    font-size: 14px;
  }
}

body {
  background-color: #eceefe;
  max-width: 1920px;
  margin: 0 auto;
}

app-mobile-landscape{
  width: 100%;
  height: 100%;
}

app-root {
  padding: 2rem;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;

  @media (max-width: 999px) {
    padding: 0;
    gap: 0;
  }
}

app-header-for-usermanagement {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  width: 100%;
}

app-header-for-usermanagement {
  align-items: center;
}

app-main-content {
  width: 100%;
  height: calc(100vh - 147px);

  @media (max-width: 999px) {
    height: calc(100vh - 70px);
  }
}

app-single-message {
  transition: 300ms ease-out;
}

app-date-divider {
  margin-top: auto;
}

app-mobile-popup {
  z-index: 5;
  width: 100%;
}

app-send-message {
  width: 100%;
  padding: 1rem 2.188rem 2.5rem 2.188rem;

  @media(max-width: 999px) {
    padding: 1rem;
  }
}

app-footer {
  position: fixed;
  bottom: 1%;
}

img {
  cursor: pointer;
}

h2 {
  color: #444df2;
  font-size: 2.8rem;
  font-weight: 700;
}

button {
  cursor: pointer;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 1.5rem;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
}

form {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  gap: 2.5rem;
  padding: 3.1rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.gap-05 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.full-center {
  align-items: center;
  justify-content: center;
}

.v-hidden {
  visibility: hidden;
}

.d-none {
  display: none;
}

// Colors
$color-online-green: #92c83e;
$color-offline-gray: #686868;
$color-purple-3: #535af1;
$color-active-channel: #eceefe;
$color-main-bg: #eceefe;
$color-purple-1: #444df2;
$color-purple-2: #797ef3;
$color-purple-light: #adb0d9;
$color-disabled-grey: #686868;
$color-popup-bg: #eceefe80;
$color-error-red: #ed1e79;

.state-icon {
  position: absolute;
  bottom: 0.4375rem;
  right: 0;
  height: 0.875rem;
  width: 0.875rem;
  border-radius: 100%;
  border: 0.125rem solid white;
}

.online-state {
  @extend .state-icon;
  background-color: $color-online-green;
}

.offline-state {
  @extend .state-icon;
  background-color: $color-offline-gray;
}

.away-state {
  @extend .state-icon;
  background-color: $color-disabled-grey;
}

// 

// input fields for channel
.channel-form {
  background-color: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: unset;
  gap: 1.25rem;
  padding: unset;
  width: 100%;
}

.channel-input {
  font-family: Nunito;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.534rem;
  text-align: left;
  border: 0.0625rem solid $color-purple-light;
  padding: 1.125rem 1.25rem;
  background-color: white;
  border-radius: 100vw;
  outline: none;

  &:hover {
    border: 0.0625rem solid $color-purple-2;
  }

  &:focus {
    border: 0.0625rem solid $color-purple-3;
  }
}

// blue btn primary
.primary-btn {
  background-color: $color-purple-1;
  padding: 0.75rem 1.5625rem;
  border-radius: 1.5625rem;
  border: unset;
  font-family: Nunito;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.534rem;
  @include dFlex();
  transition: 100ms ease-in;

  &:hover {
    background-color: $color-purple-2;
    transition: 100ms ease-in;
  }

  &:disabled {
    background-color: $color-disabled-grey;
    cursor: not-allowed;
  }
}

.secondary-btn {
  border: 1px solid $color-purple-2;
  border-radius: 100vw;
  padding: 0.75rem 1.5625rem;
  font-family: Nunito;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.534rem;
  @include dFlex();
  transition: 100ms ease-in;
  color: $color-purple-1;
  background-color: white;

  &:hover {
    color: white;
    background-color: $color-purple-3;
    transition: 100ms ease-in;
    border-color: $color-purple-3;
  }

  &:focus {
    background-color: $color-purple-1;
    border-color: $color-purple-1;
    color: white;
    transition: 100ms ease-in;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: white;
    color: $color-disabled-grey;
    border: 1px solid $color-disabled-grey;
    transition: 100ms ease-in;
  }
}

.error-message {
  color: $color-error-red;
  font-family: Nunito;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.188rem;
  text-align: left;
  position: absolute;
  bottom: -1.2rem;
  left: 0;
}

.icon {
  @include dFlex();
  border-radius: 100%;
  cursor: pointer;

  &:hover {
    background-color: $color-active-channel;
    scale: 1.05;
  }

  &:hover path {
    fill: $color-purple-3;
  }
}

.highlight-message {
  box-shadow: 6px 0 9px rgba(0, 0, 0, 0.1843137255);
  transition: 300ms ease-out;
}

.emoji-mart-scroll {
  height: 140px !important;
}

.emoji-mart {
  box-shadow: 0rem 0.375rem 0.625rem 0rem rgba(0, 0, 0, 0.2) !important;
  border-radius: 1.875rem 1.875rem 0 1.875rem  !important;
}

*::-webkit-scrollbar {
  width: 0.5rem;
  /* Breite des Scrollbalkens */
  max-height: 0.5rem;
  background: #fffcf3;
  border-radius: 4px;
}

*::-webkit-scrollbar-track {
  background: #fffcf3;
  /* Hintergrundfarbe des Scrollbalkens */
  border: 1px solid #444df2;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  cursor: pointer;
  min-height: 30px;
  border: 1px solid black;
  background: #444df2;
  /* Farbe des Griffs des Scrollbalkens */
  border-radius: 4px;
  /* Radius des Griffs des Scrollbalkens */
}

*::-webkit-scrollbar-thumb:hover {
  background: #797ef3;
  /* Farbe des Griffs des Scrollbalkens bei Hover */
}

@media (max-width: 700px) {
  h2 {
    font-size: 2rem;
  }
}