@import '../../../../../mixins.scss';
@import '../../../../../styles.scss';

main {
    @include dFlex($g: 0.3125rem);
    background-color: white;
    padding: 0.1875rem 0.9375rem 0.1875rem 1.25rem;
    border-radius: 1.5625rem 1.5625rem 0 1.5625rem;
    border: 0.0625rem solid $color-purple-light;

    .icon-wrapper {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 100%;
        @include dFlex();
        transition: 150ms ease-in;

        &:hover {
            cursor: pointer;
            background-color: $color-active-channel;
            transition: 150ms ease-in;
        }

        ngx-emoji {
            @include dFlex();
        }
    }
}

.svg-hover {
    transition: 150ms ease-in;

    &:hover svg {
        scale: 1.05;

        path {
            fill: $color-purple-3;
        }
    }
}