@import '../../../../../mixins.scss';
@import '../../../../../styles.scss';

main {
    @include dFlex($g: 5px);
    background-color: white;
    padding: 3px 15px 3px 20px;
    border-radius: 25px 25px 0 25px;
    border: 1px solid $color-purple-light;

    .icon-wrapper {
        width: 40px;
        height: 40px;
        @include dFlex();
    }
}